[2016-10-02 19:15] dvberkel commented on #79
Thanks for all the pointers!

[2016-10-02 20:45] #79 closed

[2016-10-02 20:46] kytrinyx opened #80 "Reset Rubocop on exercism/exercism.io to zero"
We originally added rubocop to the exercism/exercism.io codebase in hopes that we would start converging on a cleaner codebase.

Instead what happened was that we started blocking PRs for arbitrary style reasons.

This has been painful and frustration.

There are two things going on here, I think.
1. We introduced a bunch of rules that aren't necessarily meaningful to us without discussing which o

[2016-10-02 21:41] jtigger commented on #31
What I'm reading from you, @troubalex is the flow: why? => what? => how?

or

motivation => scope of commitment => smooth launch

Motivation varies per persona
Commitment can be seen as identical
What makes for a *smooth* launch varies by level of skill:

[2016-10-02 21:52] jtigger commented on #79
BTW, the Java track [has implemented](https://github.com/exercism/xjava/issues/83) both a test-of-the-tests **and** [a full journey test](https://github.com/exercism/xjava/blob/master/bin/journey-test.sh) wherein we stand-up x-api, install the CLI, fetch each of the exercises and "solve" them by copying over the example.

Not only has this significantly reduced the effort required to review submis

[2016-10-02 22:34] jtigger commented on #73
*(fixed broken link to the Homebrew "Maintainers Avoiding Burnout" page)*

[2016-10-03 00:24] kytrinyx commented on #73
Thanks @jtigger!

I made a start at maintainer docs:

- [Maintaining a Track](https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md)
- [Reviewing a Pull Request](https://github.com/exercism/exercism.io/blob/master/docs/reviewing-a-pull-request.md)

[2016-10-03 00:48] kytrinyx commented on #79
@jtigger that is brilliant. I'm going to add this as one of the suggested things we do for each track.

[2016-10-03 01:29] jtigger commented on #79
Being mindful not to violate YAGNI, that script can be made more general and be suitable for all tracks.  Off the bat, it would be a minor tweak to get it working for @exercism/kotlin.

[2016-10-03 02:03] kytrinyx commented on #79
The tricky thing is that we'd need both the original language environment and a java environment on Travis.

[2016-10-03 02:17] jtigger commented on #79
In fact, it's that we'd need the original language environment as a Ruby environment (to fire-up x-api, on the CI box).  The part that's Java-specific can be externalized and "injected" per track.

[2016-10-03 02:22] kytrinyx commented on #79
D'oh. Of course. Which isn't any better :)

Hm. It's terribly tempting to rewrite everything in Go so we can use a static binary. But then again, there are such things as dayjobs and priorities that would prevent us from doing that offhand.

[2016-10-03 02:31] jtigger commented on #79
ha!

In fact, it *is* better on Travis: it comes with rvm.  Here's the trimmed version of the xjava/.travis.yml

[code]
So, there's "original track language" at the top ([if available](https://docs.travis-ci.com/user/languages/)) and then the `rvm` calls for the ruby install... away you go...

[2016-10-03 04:16] kytrinyx commented on #79
OK, now that's pretty cool!

I'd be perfectly willing to have the first version _only_ be available on travis if you don't happen to have a ruby environment locally.

Would you put a summary of this into a new issue in https://github.com/exercism/discussions/issues so that we can hash out a plan for how to potentially document this and figure out what would be necessary to implement it across all

[2016-10-03 12:12] Insti commented on #78
For reference: [Kindergarten Garden Readme](https://github.com/exercism/x-common/blob/master/exercises/kindergarten-garden/description.md)

[2016-10-03 15:29] jtigger opened #81 "Include a "Journey Test" in the CI build of each track"
_(spawned from discussion in #79)_

**tl;dr:** come up with a way to automate [journey style](http://martinfowler.com/bliki/UserJourneyTest.html) tests in CI for each track so that maintainers spend less time doing bookkeeping and have more room to use their judgment and creativity.
# Context

One of the more labor intensive parts of maintaining a track is ensuring that submissions from contributo

[2016-10-03 16:42] petertseng commented on #81
One thing that will help me to evaluate the benefits is to answer the question: What additional checks does this give us that are not already provided by running the tests in each track plus configlet?

This seems to be one answer to the above question

I would like to know in what cases this happens - can it be solved by changing the track's existing test suite?

An additional point I can add to

[2016-10-03 17:06] troubalex commented on #31
@jtigger

Pretty much, yes. My comment on motivation was simply a reply to @kytrinyx wondering about which would be the right questions to ask. Sorry, that wasn't very obvious.

I am by the way, convinced that the front page (and any yet to be created intermediate page) can be aimed at all skill levels, as long as the focus is on benefits and process rather than instructions.

[2016-10-03 17:56] Tonkpils commented on #72
I like the idea of deprecating `skip` in favor of adding something that feels more streamlined, in this case with the `fetch` command.

When I first read the comments on the issue I thought `next` sounded a bit confusing. However, as long as we explain `fetch` behavior with and without the `--next` flag I think it'll be ok.

[2016-10-03 18:30] ryanplusplus commented on #81
@petertseng I have the same concern regarding the benefits of doing this instead of just testing inside the track. It feels like an awfully complicated way to address issues that we don't have or that could be addressed in a simpler way. For example, can't we catch the non-existent exercise example given above with a fairly straightforward change to configlet?

[2016-10-03 18:54] kytrinyx commented on #81
The thing that this changes which configlet cannot, is the integration with our fetch and submission APIs.

We've had things that pass the basic checks, and then blow up because of some unforeseen thing that the API can't handle.

I am working on an integration test that can run before I deploy the API, which will check every track against every API endpoint, but this check happens much later in t

[2016-10-03 18:55] kytrinyx commented on #81
Yeah, this would be caught by my tests in the API before it gets deployed.

[2016-10-03 22:53] ryanplusplus commented on #81
@kytrinyx can you elaborate on the type of thing that could pass the basic tests but then blow up on the API? I'm not super familiar with the API side of things, but it feels pretty bounded from the track standpoint so I'm having a hard time understanding where things might go wrong.

[2016-10-04 01:47] kytrinyx commented on #81
The typical thing is misspelling a problem name, e.g. `braket-push` instead of `bracket-push`. That will pass configlet so long as the slug in the config file matches the directory name of the exercise.

We could pass a flag to configlet so it checks valid problem names via the api, though.

Once we had a zipped archive file, and that totally blew up because the files are added as text to JSON and

[2016-10-04 02:15] jtigger commented on #81
In terms of what such a test would cover is nominally the intersection of the config+content of a track and the code-path from `exercism fetch` through to an exercise being delivered from x-api.

[2016-10-04 04:03] jtigger commented on #81
Excellent question.

In the Java track (and by way of C&P, Kotlin), we've got a Gradle multi-module build: a root module (in the `exercises`) and each individual exercise is a sub-module.

Gradle scans up directories for parent build config.  When building an exercise within the `xjava` repo, this build config is modified: a) the source set is reset from `src/main/java` to `src/example/java`; and

[2016-10-04 04:05] jtigger commented on #81
@petertseng said, above:

Yes.

[2016-10-04 04:07] jtigger commented on #81
@kytrinyx said, above:

How often does something like this come up?  Have you had to not deploy or revert a track because of something like this?

[2016-10-04 16:03] jtigger commented on #31
It probably was.  I'm in the habit of over-communicating when it's happening in text... think of it as more confirmation that anything else. :)

So delighted that you're on this, @troubalex!!!

[2016-10-04 18:49] kytrinyx commented on #81
@jtigger It's not very often, every few weeks, maybe?

Yeah, both of the above. I'm working on better tests that I can run before a deploy.

[2016-10-05 02:20] IanWhitney commented on #78
I was looking for more details about the concepts being taught, not the parameters of the exercise.

For those who have implemented this, or done the exercise, any thoughts on the topics it teaches?

[2016-10-05 05:04] Insti commented on #78
The reference was for people like me reading the issue who had no idea what the exercise was about.

[2016-10-05 06:13] kotp commented on #80
I can work on this, directly.  Another thing we can do is remove the travis-ci part so that it simply doesn't run.  Another option is to run it, but set the "fail level" higher so that just because there are cops that are present it doesn't return with a non-zero at the OS level.  Either may be a simple first step thing.  The rubocop related directives in the current code are "work done" style thi

[2016-10-05 13:40] kytrinyx commented on #80
@kotp I think as a first step removing it from travis-ci is great. Then we could disable all of the cops and delete the TODOs and directives in the code.

Rather than have pointers in the code, I'd like to discuss potential refactorings here. I'm not quite sure how I think we should tackle refactorings for the Exercism codebase.

[2016-10-05 16:42] Insti commented on #80
Anecdata: If I'm looking for a quick refactoring task I will grep the codebase for Rubocop cop disable comments.

I guess the fact there there are still a lot there mean the rate of progress using this method may not be a blocker for removing them, but a PR that just removes all the comments seems like throwing away useful information. Albeit information that can be recreated by running Rubocop on

[2016-10-05 17:04] kytrinyx commented on #80
Yeah, that seems fine to me.

[2016-10-05 21:54] jtigger commented on #81
I will say, having lived on the other side of the implementation of this feature, it's brought peace-of-mind that whatever changes happen in the CLI and x-api, any new submissions to this track really only need convention, style and quality review.  This kind of check not only means it takes less time for me to review submissions, but by extension, easier to be responsive.

[2016-10-06 00:21] verdammelt commented on #60
Is there / should there be any affect on 'foregone', or 'deprecated' sections of the config file? Will those remain just a list of exercises?

[2016-10-06 16:16] jtigger commented on #73
I am attempting to map out the flow for a contributor both from the top-down and the bottom-up.

Top-down means something like this:

1. A person sees/feels a need
- Clicks on a (more) visible "Contribute" link/button to get to the "Contribute to Exercism" page
- Greeted with a top-level triage:
![image](https://cloud.githubusercontent.com/assets/470176/19159207/7af66eb6-8ba0-11e6-8453-a41c7ae8352

[2016-10-06 17:38] troubalex commented on #73
I like your thinking, @jtigger! In content strategy, there is the concept of [structuring content based on chunks or modules](http://alistapart.com/article/future-ready-content).  By mapping out a potential flow, it should be possible to identify and define chunks of content that are relevant at each step of the journey.

Once that is clear, it should also become quite obvious which chunks should

[2016-10-06 20:12] jtigger commented on #73
Brilliant suggestion, @troubalex; thank you.  I will do exactly that.

I know there are some online stickie apps; I'll do some work there and report back.

[2016-10-06 20:59] troubalex commented on #73
Let me know if you find a good tool.

Alternatively, you could use real sticky notes, and transfer you results into a spreadsheet where you use one row per task. Subtasks can be indented.

[2016-10-06 22:10] kytrinyx commented on #73
I like this a lot!

Sort of related: I did a rewrite in the README a couple weeks ago, and started trying to address the top-down thingy: https://github.com/exercism/exercism.io#contributing-to-exercism

[2016-10-07 02:38] jtigger commented on #73
@kytrinyx oh, I know it!  I'm doing everything I can to digest and incorporate "prior art."  My attitude is that there's tons of great material and what's needed is in increase in discoverability.  Sure there may be some gaps, but from what I've read, there's lot of well-written material already.

[2016-10-07 04:47] jtigger commented on #73
Working out in the open: https://docs.google.com/drawings/d/1kE7VqIBMj4gj5702a_LDaOkkvKQ1dJsaapzeuIEC5Lw/edit

[2016-10-07 15:23] dvberkel opened #82 "Is editorconfig worthwhile to start using?"
[editorconfig](http://editorconfig.org/)

As a maintainer I now manually format the code. Editorconfig could help out here. I have some, but not much experience with EditorConfig. Does anybody want to share experiences?

[2016-10-07 23:10] kytrinyx commented on #82
I've never used EditorConfig, but I have a couple of experiences that are kind of relevant... maybe :)

1. In Go in general, and on the Go track we use `gofmt`, which means that nobody ever has to think about formatting. It's _amazing_.
2. In Ruby there's a linter named `rubocop` which complains, but doesn't necessarily fix things. My experiences with this are very mixed.

I think this might be va

[2016-10-07 23:23] kytrinyx commented on #81
This sounds wonderful, to be honest. Having been behind many of the CLI and x-api changes...

[2016-10-08 06:25] dvberkel commented on #82
I very much like the idea of a compiler provided formatting tool. It totally side tracks often unhelpful discussion on style.

Unfortunately `gofmt` does not format JSON or Markdown. (Or does it? I am just guessing here, I have very little experience with `gofmt`.)

I will suggest using editorconfig for the OCaml track and get back with our experiences.

[2016-10-10 07:18] kotp commented on #80
As an example of what can be done, I just pushed up exercism/xruby#449 and it has the benefit of listing all cops, while disabling them all.  This way they can be activated as we find the styles that fit.

[2016-10-10 07:19] kotp commented on #80
This also means that we can leave it in travis-ci (or set it as a no-op) so that it can be activated later, and it will do the right thing when we enable the ones that we want to enable as we want to enable them.

[2016-10-10 08:24] kotp commented on #80
NB: Rubocop does have customizable system codes, we can report failures, without failing from CI viewpoint, I think, by setting it to always return 0 (unless actual program failure).

[2016-10-10 15:53] kotp commented on #82
Rubocop and a git hook can enforce (a lot of things) but new contributors, unclear style decisions in the language, etc... definitely a mixed bag in Ruby.  I definitely agree about the distracting (at best) style discussions.  @dvberkel please do mention this discussion there so I can track that as well.  Working on some tactics for not only track but also exercism.io as an application.

[2016-10-11 11:24] matthewmorgan opened #83 "Allow labels on exercises as a search key"
@jtigger and I have been working on schemes to increase both individual user engagement on exercism  and cultivate discussions between users. https://github.com/exercism/xjava/issues/150

One idea we've been exploring is that of classifying the style or other characteristics of a submission, with an eye toward surfacing solutions for users in any of several possible ways:
1. Filters on their activ

[2016-10-11 20:16] BrianHicks opened #84 "JSON language"
I'm seeing people do some funny things in JSON lately. Like mixing types in arrays, using objects as containers instead of lists, using strings as numeric types, etc.

I'm curious if you think Exercism would be a good venue for this kind of discussion?

[2016-10-11 21:01] rchavarria commented on #83
I'm not 100% sure if they're related, but in the discussion #60 it's discussed some modifications to each language track's `config.json` file. One of these modifications, include adding a `topics` property for each exercise where track maintainers and contributors should write an array of programming topics related to that exercise.

Would those topics from `config.json` and each exercise be usefu

[2016-10-12 05:00] jtigger commented on #84
That's an interesting question.  The essential structure of Exercism is deliberate practice.  What I think you're referring to is something along the lines of appropriateness of a certain notation.

I don't see how to incorporate this into a "track" per se.

That said... what would *you* say to these "unorthodox" uses of JSON notation?

[2016-10-12 20:23] jtigger commented on #73
Starting a backlog around this here: https://github.com/exercism/exercism.io/projects/1

My plan is to
1. put in single-sentence cards to seed.
- invalidate some (already done?), rework others
- convert into issues
- get to work!

[2016-10-12 20:47] troubalex commented on #31
Quick (conceptual) hack while trying different variations of typefaces for the hero area: http://codepen.io/troubalex/pen/LRAWJa

[2016-10-13 18:39] ErikSchierboom commented on #83
I think #60 is definitely related, as part of the goal of that issue was to annotate exercises with topics. In the F# and C# track, this has already been done (see e.g. the F# tracks's [config.json](https://github.com/exercism/xfsharp/blob/master/config.json) file).

However, what you are mainly talking about is that users or moderators can add labels. I think this would be quite a lot of work for

[2016-10-14 15:32] jtigger commented on #73
@kytrinyx I was thinking, at first, that the starting point would be http://exercism.io/contribute ... however, I notice that when I go to create a new issue, I see this handy prompt:

![image](https://cloud.githubusercontent.com/assets/470176/19393154/6c6d4d76-91e8-11e6-8d46-26f883e892c8.png)

Which means that https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md is *also* going to

[2016-10-16 01:33] petertseng commented on #60
That's done by https://github.com/exercism/x-api/pull/137, I am glad that we can now deduplicate.

[2016-10-16 22:11] kytrinyx opened #85 "Explicitly look for new contributors for language tracks"
One thing that we've not done at all is to make an explicit effort to go look for people who would be interested in contributing to the language tracks on Exercism.

How would we go about doing this more strategically?

[2016-10-17 04:58] kotp commented on #85
I have done this "lightly" by enlisting a few people to make their first issue, generally from inside the Exercism site itself.  This has, at a high rate of success, brought them to make their first PR.

I am pleased so far in how this has gone, and finding them on the site, seems like a natural place to start.  They are already interested at a "base level" or they would not be there making submis

[2016-10-22 16:05] kytrinyx commented on #73
Yeah, I think that would be a good idea. It doesn't really help to throw them directly in the issues.

[2016-10-22 17:08] jtigger commented on #73
Cool.  So, the current revision of the "Contribute" page on the website *has* triaging right now.  We should hold off on changing that link until at least a first iteration (thinking of MVP as *at least* covering all the topics represented on that page).

[2016-10-23 15:10] jtigger commented on #84
It's been almost two weeks with no activity; closing as a housekeeping step.

@BrianHicks if you would like to elaborate, please feel free to continue the conversation and we'll re-open this ticket.

[2016-10-23 15:10] #84 closed

[2016-10-23 22:33] kytrinyx commented on #84
Sorry—I've been traveling for the past 2 weeks and am just now trying to catch up on email and notifications.

I think that this is an interesting idea, but that it doesn't fit within the format of Exercism very well. This could make a really interesting stand-alone project, though!

For context, this brings to mind another recent discussion: https://github.com/exercism/exercism.io/issues/3113

[2016-10-23 22:53] mhelmetag commented on #84
Just an idea because JSON is **J**ava**S**cript **O**bject **N**otation but this might be worth pitching to the peeps over in the ECMAscript and/or Javascript repos? Instead of a whole repo, you could come up with a couple cool exercises for one of those repos.

[2016-10-23 23:13] kytrinyx opened #86 "Get feedback from users after they complete an exercise"
This suggestion has come up a couple of times, and it's something that would probably help us reorder exercises to make the track better.

See https://github.com/exercism/exercism.io/issues/1081 for a meaty discussion about the topic.

[2016-10-23 23:29] kytrinyx opened #87 "Link to great articles about test driven development"
We got a suggestion a while back to write documentation about TDD as part of the exercism documentation, and I've come to the conclusion that this is out of scope for the project.

That said, it would be lovely to be able to point people to awesome articles out on the web.

We could do it somewhere generally, or perhaps have language-specific links in the track documentation about testing or getti

[2016-10-23 23:38] kytrinyx opened #88 "Increasing amount and quality of participation in code review / conversations"
For the engines of Exercism to really work, people need to see comments and code based on their solutions.

There are two overarching ways to tackle this, and we should investigate/pursue both.

The first is machine learning / AI to use all of the existing data (both code and comments) to show people something useful. We have an open issue about this here: https://github.com/exercism/discussions/i

[2016-10-24 00:02] kytrinyx opened #89 "Add support for meta-commentary on solutions"
There's an interesting idea that came up a while ago here: https://github.com/exercism/exercism.io/issues/2077

Let people add a commentary that would be about the exercise / their solution (not about an individual iteration). They could talk about what they learned, or summarize their process, or in some other way draw conclusions or muse about things at a high level.

[2016-10-24 00:10] kytrinyx opened #90 "Allow for a "check back later" workflow"
See https://github.com/exercism/exercism.io/issues/2084 for the history of this.

The thing that is painful is that when you review a lot of solutions, you'll sometimes come across something that you want to respond to more fully later. If you're processing notifications, the notifications go away. If you're looking through a stream, there's no way to mark it for later.

[2016-10-24 00:26] kytrinyx opened #91 "Implement granular and flexible subscriptions and notifications"
The goal here is to let people know that there's interesting new stuff, which would likely mean that they participate more frequently and for a longer amount of time, which means that they'd probably get a lot more out of Exercism (both in terms of learning and enjoyment).

This would mean integrating with a proper email platform.

Some examples of things people might want to subscribe to:
- new e

[2016-10-24 00:34] kytrinyx commented on #33
Note to self: when we rethink the dashboard, consider this idea about suggesting that people revisit an old solution from time to time. https://github.com/exercism/exercism.io/issues/2262

[2016-10-24 08:34] behrtam opened #92 "Implement survey based difficulty"
In the last months most of the tracks adopted the new `config.json` format #60 which added a _difficulty_ for each problem on a 1-10 scale. Right now we try to come up with good numbers in endless contributor discussions or most of the times it just stays 1. Maybe we should ask the users instead ...

We could add a simple way of rating the _difficulty_ on the site after you submitted the problem,

[2016-10-24 09:03] kotp opened #93 "The purpose of `.version` file"
I have started noticing that some people are reading too much into the `.version` file that they receive on their file systems as it pertains to the BookKeeping and they are reading that file rather than giving a literal version that we can see in the iteration.

This goes against the purpose of communicating the version of the test that the solution solves against.  Should it be delivered to the

[2016-10-24 10:45] kotp commented on #92
I like the ideas in here.  New exercises generally get added to the end of the list, at what point in the list should new exercises appear, to help avoid the "This is too hard, I am frustrated", which can lead to not realizing you can skip, and move on.

[2016-10-24 12:21] jtigger commented on #89
...visible to anyone who has "completed" that exercise, across all tracks?

I've been thinking about ideas like this in terms of improving the discoverability of quality commentary/conversation.  Imagine [Ward's wiki](http://wiki.c2.com/?PatternIndex) but organically arrived at (i.e. generalized *from* examples).

It is one of those potential goals of NLPing over comments: to determine, among "con

[2016-10-24 13:27] Insti commented on #93
No the .version file should not be delivered.

I also think that expressing the version in the solution through anything other than an optional comment is overkill, and the BookKeeping module we use in xruby is way more trouble than it's worth.

[2016-10-24 13:35] kotp commented on #93
I have noticed a drop in "Your solution does not pass the tests" comments when the BookKeeping module is used as it is intended.  I think it is more likely to be used when it "nags" you with a failing test, and to suggest that someone mentions their version, consistently.  Especially since a lot of exercises are "version 0" at the moment.

What "trouble" have you experienced with the BookKeeping m

[2016-10-24 14:38] jtigger commented on #31
*(I don't have any training in design, but I'm trying to provide _some_ feedback; I hope you find this useful, @troubalex.)*

I gotta say, I'm not quite diggin' it... it strikes me as "too harsh" of a contrast.  The white box looks like a sticker on top of the image.  I don't know if I'm old-fashioned but I really dig a minimalist style where the negative space is simple/monotone/subtle... and ima

[2016-10-24 16:13] jtigger commented on #8
I see these: https://github.com/search?q=label%3Afirst-timers-only&type=Issues and wonder how many of them just get done in Exercism?

My gut feeling is that those things *are* being tackled by current contributors.  And that it seems "obvious" that it's way more work than it's worth to create an issue for simple things.

I think that actually, the value of bringing on more folks is worth the effo

[2016-10-24 18:47] sguermond commented on #92
Exercises could be assigned a base difficulty value by the creator/track mentors for initial placement, which is then adjusted based on user ratings (somewhat like reviewer rating/user rating on IMDB).

[2016-10-24 18:49] sguermond commented on #78
Indexing/string slicing?

[2016-10-24 18:49] sguermond commented on #33
@richieacc I don't know if your suggestion for scrolling between implementations of an exercise already includes this, but I would be interested in seeing a side-by-side comparison of your solution vs. the implementation you're looking at (kind of like Github diffs, but less fancy - just the code). I see this being useful for both users trying to improve their solution and newbie reviewers trying

[2016-10-24 19:24] troubalex commented on #31
This is excellent, @jtigger! The whole point of my "hack" really was to get something tangible out there that can be discussed. I agree, it's not good; in fact the final result will probably be nothing like it. It's fine, it's part of the process.

Also, I have **very** short toes.

Thanks for the list of sites, some good inspiration there.

This is where things become interesting. If you look at

[2016-10-25 09:45] richieacc commented on #33
@sguermond I like that idea. What do you think @kytrinyx ?

[2016-10-27 05:38] GustavoCaso commented on #88
@kytrinyx Totally agree with you on everything.

Maybe we could include some basic guides on how to comment code. A rating system for comments, so the user could see how his or her code reviews skills improve by the more he or she review code.

What about after you submit a exercise, you are assign a exercise to review, from another user but same exercise of course that way you have clear idea of

[2016-11-01 13:07] jtigger commented on #92
This relates (but is not exactly the same as) #86.

[2016-11-01 13:11] jtigger commented on #92
There are multiple variables that go into the ordering of a track, not just difficulty.  This would be a great "read-out" informing the track maintainers of experienced difficulty.  Imagine something like a [candlestick chart](https://en.wikipedia.org/wiki/Candlestick_chart) that plots the range of experienced difficulty over the current ordering.  If there's a sudden spike, that would reflect in

[2016-11-01 13:17] jtigger commented on #17
We'd love to hear more from @siakaramalegos.  Will re-open this issue if we do.

[2016-11-01 13:17] #17 closed

[2016-11-01 13:35] jtigger commented on #83
A specific (motivating) instance of this is exercism/exercism.io#2976 — "Search by topic e.g. 'recursion'".

[2016-11-01 14:03] jtigger commented on #55
I can understand the notion of "just wanting to solve the problems" but ... and I don't want to come across as closed-minded ... but isn't that antithetical to the value that Exercism brings?

I'd vote down the idea of putting effort into features that disable conversation altogether.  I'm absolutely in support of controls that help users manage their experience (e.g. exercism/exercism.io#3180) bu

[2016-11-01 14:31] siakaramalegos commented on #17
I didn't necessarily agree with the suggestion anyway - I was more passing it on. I think it's fine to keep this issue closed.

[2016-11-01 17:30] dvberkel commented on #55
I don't think that this would be antithetical to the value of Exercism. It's slogan is still _level up your programming skills_. This can be done by various means, some of them offered by the exercism.

I think that comments could be a valuable source of feedback, but one has to be ready for it. Clearly somebody isn't ready, for what ever reason. If this is off-putting for some, I think we cut sho

[2016-11-01 18:41] canweriotnow opened #94 "Test-before-submit feature"
While working on https://github.com/canweriotnow/exercism-emacs I got to thinking about how easy it is to run ERT on elisp exercises, and how trivial it would be to add a run-test hook before the submit action on `exercism.el`

Then I got to thinking, since most tracks (sadly excluding my own, i.e. xelisp and xscheme, for the moment) have test runner scripts in their repos, perhaps this could be a

[2016-11-01 19:20] canweriotnow commented on #83
Searching for "recursion" should return a helpful suggestion like [did you mean recursion?](https://www.google.com/search?q=recursion)

[2016-11-02 06:07] GustavoCaso commented on #88
Anyone?

[2016-11-02 12:19] dvberkel commented on #88
I don't really like the assigned exercise to review idea. For me it feels like an obligation that I am maybe not willing to commit to. I would rather want to opt-in to such a mechanism and therefore have a choice.

Having said that, I do acknowledge the value of feedback. Both in receiving good feedback and providing good feedback. But the problems and resistance people feel against receiving and

[2016-11-02 14:47] jtigger commented on #42
I've been knee-deep in Contributing documentation; I too am looking into Gitbook...

[2016-11-04 17:41] kytrinyx opened #95 "Normalize files used to compile exercise READMEs"
Right now each exercise README is compiled from:

* (in exercism/x-common) - exercises/$SLUG/description.md (basic problem specification)
* (in exercism/x$TRACK_ID) - SETUP.md (a reminder about how to run the tests)
* (in exercism/x$TRACK_ID) - exercises/$SLUG/HINTS.md (any hints about the specific exercise)

`SETUP.md` is a terrible name, since it sounds like it should be a one-time thing about h

[2016-11-05 13:42] Insti commented on #76
Hacktoberfest is over now.
See you again in 2017!

[2016-11-05 13:42] #76 closed

[2016-11-05 13:52] Insti opened #96 "Label for policy decisions "hidden" in issues?"
Would it be useful to add a `policy` label to issues that contain the discussions/decrees that lead to various decisions that shape Exercism, so that when the issues are closed and PRs are merged it's still possibly to easily find them again?

Ideally all these policy decisions would be documented in some kind of reference document, but that is not currently the case, and this would be a good step

[2016-11-05 18:09] kotp commented on #76
Let's set our calendars for September to get this more organized next year.

[2016-11-06 11:13] Insti commented on #95
I think it would be better if SETUP.md were moved into the /exercises subdiretory.

`exercism/x$TRACK_ID/exercises/SETUP.md`

This would remove a bit of the confusion.

Ordered brainstorming for a new name:
[code]
I think I like `TRACK_HINTS.md` best at the moment.

[2016-11-06 17:35] dvberkel commented on #95
I think I like `TRACK_HINTS.md` as well

[2016-11-07 00:58] petertseng commented on #96
Doing this seems like a positive change. I think I would not hesitate to apply the labels soon. Or at least collect a list of issues that have interesting decisions, since that process is separate from what to do with them.

Another idea that is similar is https://github.com/exercism/x-common/issues/382 - it seems that idea is more about per-exercise decisions, whereas there may be more global dec

[2016-11-07 16:03] jtigger commented on #96
This is a *great* idea, @Insti!

As Exercism continues to mature, the ecosystem needs to have organizational memory to avoid the churn associated with rehashing the same question over and over (gamification, anyone?).  That said, one caution: GitHub issues labeled as "policy" represent a rough consensus at a point in time and should be considered mutable as the group's context shifts.

[2016-11-07 19:08] Insti commented on #96
Certainly.   'Policy' issues should always be up for discussion and tags can be removed if opinion changes.

[2016-11-08 21:32] kytrinyx commented on #89
Yeah, you'd only see it if you can see the solution.

Right. On the one hand, Exercism's sweet spot is "get fluent quickly in the basic syntax, standard libraries, and conventions of a language", but then layered on top of that is this deeper exploration of the craft of programming. The process, the insights. Developing the intuition about code smells and patterns and readability. And then layered

[2016-11-08 21:35] kytrinyx commented on #33
@sguermond @richieacc we used to have diffs, but it made the already cluttered code page even more cluttered. It didn't feel like it was adding enough value. I wouldn't be against having the feature if we could make it not feel like yet another kind-of random thing tacked onto the site.

[2016-11-08 21:40] kytrinyx commented on #93
We were using it as a simple way to know the current version. But if we're consistent about naming, we can simply read the existing file before writing the new one, and parse out the version constant.

[2016-11-08 21:41] kytrinyx commented on #55
I'm a little bit curious why someone would post their solutions if they didn't want feedback. Why not just solve them locally and not post them?

[2016-11-08 21:53] kytrinyx commented on #95
Yeah, of all the various suggestions so far, I think `TRACK_HINTS.md` is good.

It is consistent with the fact that this is _hints_, without the potential confusion of having exactly the same file name as the `exercises/:slug/HINTS.md` file.

I'm going to open a tracking issue in the exercism repo with an explanation of the problem and the fix and a checklist of how to get there.

[2016-11-08 22:00] kytrinyx commented on #95
Ok, the new issue is here: https://github.com/exercism/exercism.io/issues/3240

[2016-11-08 22:00] #95 closed

[2016-11-08 22:15] kotp commented on #55
The easy answer is "humans".  We know they do crazy things.

[2016-11-08 22:17] kytrinyx commented on #55
Fair enough @kotp :-) That said, I'd still like to know what the motivation is, since having an idea about that could give us a better idea of how (or whether) to tackle this.

[2016-11-08 22:25] kotp commented on #55
Yeah, you got me thinking of the "Why".  Most scenarios I can think of have easier solutions...

* Showing code to mentees -> Gists
* Asking questions -> Well, feedback on exercism
* Solving problems to learn -> local solution with no share

[2016-11-08 22:27] kotp commented on #55
I noticed the wording in the issue first post... did you ask the person that you got this information from that "Why?" question?

[2016-11-09 08:29] Insti commented on #93
Creation of the un-served per-exercise `.meta` directory will mean that the `.version` file can live there and not be served to the users.
(A PR to add this is on my todo list.)

[2016-11-09 11:24] kytrinyx commented on #55
Yeah, I know why they don't want comments. Their learning is very self-driven.

I realized now that the only reason I can think of to post code even if you don't want a code review is to be able to browse other people's solutions.

The workaround here is to archive immediately. It won't show up in the activity streams. People could conceivable find your profile and click through, but it would be f

[2016-11-09 16:09] kotp commented on #55
I also do archive.  Sometimes bringing it back out of archive when ready for feedback again.  I also do ask when their exercise is archived if they would like to receive comments, since that is one of the indicators to me that they don't need/want the noise.

And yes, push back on advice well intentioned and wrong brings some civil responsibility that may not be wanted.  I can see that.  I think w

[2016-11-11 12:40] willnwhite commented on #83
I would now like to do some exercises with Elm's `|>` and `>>` operators.

[2016-11-13 19:55] tejasbubane commented on #80
I gave a nitpick [here](https://github.com/exercism/exercism.io/pull/3235#discussion_r87546439) which people seem to agree upon. There is a [cop for that](https://github.com/bbatsov/rubocop/blob/d4cfe7dfa06551ea2ccb9da64025272b9338dfaa/lib/rubocop/cop/rails/dynamic_find_by.rb).

Should we start adding back those few cops that seem essential and that we all agree upon? If yes, how do we proceed?

[2016-11-13 20:29] Insti commented on #80
Yes we should start adding them in.

Create a PR for the cop you want to add and see if anyone objects?

[2016-11-14 13:44] kytrinyx commented on #80
Yeah, let's have that one.

[2016-11-14 21:10] kotp commented on #80
@tejasbubane Please don't forget to mention this issue so we get a reference there and back.

[2016-11-18 21:11] jtigger commented on #45
Looks like we properly folded this question into that other issue; closing.

[2016-11-18 21:11] #45 closed

[2016-11-18 22:16] jtigger commented on #76
Keep or remove the [Hacktoberfest labels on issues](https://github.com/search?q=org%3Aexercism+label%3Ahacktoberfest)?

[2016-11-19 08:51] Insti commented on #76
My preference would be to leave them on closed tasks but take them off open ones.

[2016-11-19 15:06] jtigger commented on #76
done.

[2016-11-20 14:44] kytrinyx commented on #96
@Insti I absolutely love this idea. Let's make it so!

[2016-11-20 15:13] kytrinyx opened #97 "Investigate status and health of Exercism language tracks"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

The most important question that I would like to answer right now is to what degree each track is maintained, and if it

[2016-11-20 15:46] kytrinyx commented on #94
@canweriotnow Sorry it's taken me so long to get back to you. I'm still traveling, and expect to catch up with a bunch of open issues and discussions on Exercism next week.

[2016-11-20 17:42] NobbZ commented on #97
I'm not quite sure if I do understand your request right.

I took a quick look into the list of issues (search by `is:issue created:>2015-11-20`) which has 14 open and 14 closed issues also I did search PRs (`is:pr created:>2015-11-20`) and had 2 open and 25 closed. This is above the 20 threshold, so we can consider `xerlang` as an active track. But I have to admit, that most of the issues might b

[2016-11-20 17:52] kytrinyx opened #98 "Exercism in the Wild: workshops, meetups, pairing, mentorship"
I'm curious to hear from people who have used Exercism or Exercism exercises when mentoring others, or as a part of meetups or workshops or general pairing sessions.

I've created a survey: https://docs.google.com/forms/d/e/1FAIpQLSdP8rE0gRaoKz81Krem4fCznm9J6uR377oHbMmL6DHBYHv84g/viewform

If you've got experience, please, please respond! I'd love to hear from you. If you know of someone who has e

[2016-11-20 18:07] ryanplusplus commented on #97
## xlua
Endangered based on the number of contributors, though I'll note that issues do get resolved quickly

## xc
Maintained

[2016-11-20 18:32] Insti commented on #97
## xruby
Maintained

https://github.com/exercism/xruby/issues/488

[2016-11-20 18:44] kytrinyx commented on #97
@NobbZ I think you're probably right about the Erlang track being orphaned. You've been contributing a fair amount, though, and if you want to have commit on it, let me know, I'll add you.

[2016-11-20 19:00] NobbZ commented on #97
@kytrinyx, actually I do have the necessary rights to commit directly, as well as I am able to do merges. Still, I can't stem the work necessary around this track on my own.

When I created the first issues about the overhaul everything was different. Back then I still hoped that the other three members of @exercism/erlang might take a look every now and then, but they didn't show up. Also I was u

[2016-11-20 19:16] Insti commented on #94
I do think that tracks should make running tests as easy as possible for the students.

I don't think test running belongs as part of the Exercism cli.

Disclaimer: I'm an xruby maintainer and a testing extremist.

[2016-11-20 19:17] Insti opened #99 "Exercism promotional materials?"
Thinking about [Exercsim in the wild](http://tinyletter.com/exercism/letters/exercism-in-the-wild-how-is-exercism-being-used-in-face-to-face-interactions)

I'd like to be able to have Exercism cards and/or stickers to be able to give out to people.

Does such a thing already exist?
Are there source graphic files I could just send to my local printer?
If not maybe we need a promotional materials re

[2016-11-20 19:22] Insti commented on #98
It wants my github username to be an email address :confused:

[2016-11-20 19:38] dvberkel commented on #99
:+1:  for stickers. I would love to have them

[2016-11-20 20:02] dvberkel commented on #97
## xocaml
Endangered

https://github.com/exercism/xocaml/issues/91

[2016-11-20 21:16] verdammelt commented on #97
## xlisp

Endangered

Single active maintainer. Few issues or PRs. No new exercises unless I submit them.

https://github.com/exercism/xlisp/issues/125

[2016-11-20 22:58] jtigger commented on #97
## Java

**MAINTAINED**

Since June:

- maintainers are: @matthewmorgan, @jtigger, @sit;
- maintainers respond to PRs and issues within a day;
- the average open time of PRs is down from 63 days to 5 days;
- maintainers are actively and expeditiously participating in cross-track efforts;
- notably, @stkent has made numerous contributions in the form of high quality PRs.

[2016-11-20 23:29] mhelmetag commented on #97
## xcrystal

** Endangered ** (based on the amount of active maintainers; just me)

- maintainers are: @mhelmetag
- PRs have had numerous reviewers: @mhelmetag, @petertseng, @elorest, @asterite and others
- the average open time of PRs is less than a day
- recently, @bmulvihill has been making awesome progress towards adding more exercises with the new spec generator
- we're also pretty close to h

[2016-11-20 23:54] masters3d commented on #97
## Swift

**AT RISK**

- Two maintainers
- Occasional issue or comment. Not a lot of activity outside of maintainers.

[2016-11-21 01:20] IanWhitney commented on #97
## Rust

**AT RISK** (? I guess, I somewhat disagree with the ranking)

- Two maintainers
- We get some issues & sometimes get a PR from other Rust track students.
- @iljanos has contributed a few exercises, so he might be a good candidate for adding to the team

[2016-11-21 01:25] kytrinyx commented on #98
Dang. My bad. I've fixed it. Thanks for reporting it!

[2016-11-21 01:30] kytrinyx commented on #97
@NobbZ Yeah, that makes sense. The point of this exercise is to kick off some work to look into how to help find new contributors and ramp them up.

[2016-11-21 01:33] kytrinyx commented on #97
@IanWhitney I don't have very strong feelings about the rankings. My reasoning for making 2 "at risk" is that if one person gets busy or goes on vacation or moves on, we're left with one person. When there's one person, there is much less discussion and suddenly a much larger burden. With 3 it's easier to have the kind of activity that means that others are more likely to get involved (quick turna

[2016-11-21 01:34] kytrinyx commented on #97
@IanWhitney would you reach out to them and see if they'd be interested in joining the team? (There's some documentation in https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md and other documents in that directory)

[2016-11-21 01:56] kytrinyx commented on #97
I updated OCaml to _at risk_ (from _endangered_) as there are two maintainers.

[2016-11-21 05:50] elorest commented on #97
Add me back and I'll spend more time on it. I took a new job a couple
months back and have been a bit preoccupied.

On Nov 20, 2016 4:29 PM, "Max Helmetag" <notifications@github.com> wrote:

[2016-11-21 08:32] ProgrammingFuad commented on #99
I would love a sticker as well!

I havent seen much Promotional material anywhere this sounds like a great idea.

[2016-11-21 09:51] behrtam commented on #97
## Python

**AT RISK**

- maintainers are: @Dog, @behrtam
- we lack reviews/reviewers
- activity status: 62 prs, 43 issues in 2016

[2016-11-21 10:30] rchavarria commented on #97
## JavaScript

**AT RISK**:

- Two maintainers
- Issues and PRs from time to time, but I feel that it takes too much time for me to answer questions, merge PRs or take care of other aspects

## ECMAScript

Exactly the same as JavaScript.

**AT RISK**:

- Two maintainers
- Issues and PRs from time to time

[2016-11-21 11:26] rbasso commented on #97
## Haskell

**AT RISK**:

- Two active maintainers.
- Sporadic contributions from non-maintainers.
- No frequent contributor to receive write access yet.
- Still under active reformulation: 579 commits in the last year.

[2016-11-21 12:12] matthewmorgan commented on #97
@rchavarria @kytrinyx I would agree with Rubén's assessment above for Ecmascript and Javascript.  I've been helping a little once in a while on both those tracks but a third maintainer would help.  I've gotten busy over the last few months and it seems like Rubén is in the same boat.

[2016-11-21 12:31] kytrinyx commented on #97
@mhelmetag I'm excited about the progress with both generators and rikki! (I owe you a code review there, the past couple of weeks have been terribly hectic).

@elorest Thank you! Expect an email about this in the next day or so.

[2016-11-21 13:51] petertseng commented on #97
# Go

Go is **Endangered**

Rationale:

* Active improvements to the track and fixes for issues are not being made by the maintainers themselves, but in general pull requests from contributors are being accepted.
* Of all maintainers on the team, only @kytrinyx (whose activity we've been instructed to disregard) and I are currently merging pull requests for at least the last few months.
* I don't

[2016-11-21 13:57] petertseng commented on #97
re: [crystal track report](https://github.com/exercism/discussions/issues/97#issuecomment-261814797)

Doh, I am pretty sure that was me commenting on [**my own** PR](https://github.com/exercism/xcrystal/pull/44) (and as you can see, I made a large number of them). It might be good if the reviewer stats would exclude self-reviews? I mention this because I can't remember ever having commented on *an

[2016-11-21 15:02] catb0t commented on #97
## Factor

It's up to date with current Exercism standards in terms of config file and folder structure format, but I haven't been updating it recently, unfortunately. (Also because I've been trying to figure out how to automate more things.)

kytrinyx and I can merge requests that come through because I check my GH notifs often, but it's not like we get a lot of activity anyways.

Same answer as

[2016-11-21 15:23] petertseng commented on #97
EBWOP: The following sentence will be added to the Go rationale:

* The rate of outside contributions seemed a bit low, usually about 1 a month to 1 a week. Hacktoberfest is an exception.

[2016-11-21 15:45] ricemery commented on #97
# Scala

More time should be spent on updating the config file to include the exercise metadata. But, in general the track is in good shape.

Only myself and @kytrinyx on occasion.

Only myself, @abo64 and occasionally @kytrinyx .

I think we should invite @abo64 and @ErikSchierboom  to be Scala track maintainers.

I would say the Scala track is "at risk". I am the only person actively merging pul

[2016-11-21 16:44] kytrinyx commented on #97
@ricemery I'm going to put Scala as *endangered*, but if @abo64 and/or @ErikSchierboom join, we could update that. Ric, would you reach out to them via email to discuss that and let me know if I should add anyone to the team? (If useful: https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md)

[2016-11-21 18:43] ErikSchierboom commented on #97
I'd be happy to join the Scala track as a maintainer, even though I am no Scala expert by any means. However, I *do* know Exercism and manage the C# and F# tracks, so the types of issues we might receive would be familiar. If @abo64 would also join, that would be a fantastic addition to the team. He has been incredibly helpful reviewing my submissions.

[2016-11-21 19:01] ErikSchierboom commented on #97
# C#

**AT RISK**

The track is actively maintained. It has the second-most implemented exercises and issues are usually quite swiftly responded to. There will be some substantial rewriting when the .NET Core CLI is finished, making the track fully cross-platform with much simpler instructions.

Mostly, it's me, with occasionally the help of @bressain and @jwood803

Again, it's mostly me, with occ

[2016-11-21 19:06] ErikSchierboom commented on #97
# F#

** ENDANGERED**

The track is actively maintained. It has the most implemented exercises and issues are usually quite swiftly responded to. There will be some substantial rewriting when the .NET Core CLI is finished, making the track fully cross-platform with much simpler instructions.

Mostly, it's me, with occasionally the help of @jwood803

Again, it's mostly me, with occasionally the hel

[2016-11-21 20:42] robkeim commented on #97
@ErikSchierboom - Let me know if there's anything that I can do to help the C#/F# track because I'd definitely hate to see them get left behind!

[2016-11-21 23:44] jwood803 commented on #97
@robkeim If you become an extra maintainer I think that's the boost we need to get out of `Endangered`, I believe.

[2016-11-22 03:09] ricemery commented on #97
@ErikSchierboom, great! Your help will be greatly appreciated.

@kytrinyx , can you add @ErikSchierboom as a maintainer on the Scala track. I don't think that I have the rights to add maintainers to the team.
Thx

[2016-11-22 06:01] abo64 commented on #97
Thank you for the invitation, I happily accept to join the Scala team! :-)

[2016-11-22 06:35] jtigger commented on #97
I too am a @abo64 fan; I've learned more about FP from that guy...

[2016-11-22 15:30] jtigger commented on #96
I've created the "Policy" label (deep purple background) in:

- exercism.io
- discussions
- x-common

[2016-11-22 16:15] ErikSchierboom commented on #97
@robkeim Would you be interested in become a maintainer of the C# and/or F# track? We could really use your help, and you've already made some great contributions.

p.s. there is this nice document on what it means to [maintain a track](https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md#empower-new-contributors), for those interested.

[2016-11-22 18:49] kytrinyx commented on #97
Fantastic—thanks everyone for coordinating this.

I've added the following people to the following tracks:

- Scala: @abo64 @ErikSchierboom
- C#: @robkeim
- F#: @robkeim
- Crystal: @elorest, @bmulvihill

There are a few more open requests pending as well.
I'll update the status of these tracks in the issue.

[2016-11-22 18:51] ErikSchierboom commented on #97
Welcome on board @robkeim! 🎉

[2016-11-22 19:12] robtimp commented on #97
## Objective-C

**AT RISK**

- Two maintainers
- Fairly light activity. I’ve been adding the occasional new exercise.

[2016-11-22 19:37] haus commented on #97
# Clojure

Clojure is probably endangered.

The track does get a good amount of contributions in the form of new exercises and improvements to existing exercises from a bunch of contributors (17 unique PR authors in 2016).

@yurrriq is the only maintainer besides @kytrinyx that has merged PRs in 2016.

Generally review on PRs comes from @yurrriq.

[2016-11-22 19:42] kytrinyx commented on #97
@ferhatelmas has accepted an invitation to be co-maintainer of the Go track :tada:

[2016-11-22 19:43] kytrinyx commented on #97
@haus Thanks for taking a look at the status of Clojure. I think you're right about it being *endangered*.

[2016-11-22 20:21] yurrriq commented on #97
:+1: to adding @haus as maintainer of xclojure. I agree it's endangered.

[2016-11-22 20:45] robkeim commented on #97
Thanks @ErikSchierboom and @kytrinyx I'm happy to help out on the C#/F# tracks!

[2016-11-22 23:02] haus commented on #97
I'd be delighted to help out with xclojure.

[2016-11-23 16:54] kytrinyx commented on #97
Thank you, @haus, I've added you to the Clojure team ✨ and upgraded the track from _endangered_ to _at risk_.

[2016-11-23 17:35] kytrinyx commented on #97
From @parkerl about Elixir:

**MAINTAINED**

* To what degree is the track maintained? We generally have several PRs every month. Many are two add new exercises.
* Who (if anyone) is merging pull requests? @devonestes and @parkerl are the most active maintainers at this time.
* Who (if anyone) is reviewing pull requests? We have great help reviewing PRs. Notably, @martinsvalin @lpil @dalexj have b

[2016-11-23 20:03] petemcfarlane commented on #97
# PHP

**ENDANGERED**

7 pull requests in the past month from 5 authors

I am the only maintainer besides @kytrinyx that has merged PRs in 2016.

Mostly me again

[2016-11-23 20:11] brettsantore commented on #97
@petemcfarlane Next week, I'll be able to review the track again and take a look at the common track. I'll see if I can spare some time to help out.

[2016-11-23 23:04] masters3d commented on #97
I am not sure if something like how many tracks is a person currently maintaining could affect the rating but if somebody is maintaining 3+ tracks and that person leaves, all of the sudden we have 3+ tracks that go from endangered to ORPHANED. There are only so many hours in a day.

[2016-11-24 16:29] kytrinyx commented on #97
@brettsantore :sparkles: that is much appreciated. If you want commit say the word!

[2016-11-24 16:31] kytrinyx commented on #97
@masters3d That's a very good point. I'm hoping that we can put some things into place to make it more likely that all the are in a good, safe, sustainable place. Getting this overview is a first step, and it's been very encouraging to have this conversation and see how many people have been actively helping out across the board in the past year.

[2016-11-24 17:13] kytrinyx commented on #97
Thanks, everyone, for weighing in on this!

[2016-11-24 17:13] #97 closed

[2016-11-24 17:16] kytrinyx commented on #15
I've upgraded to a larger database which doesn't have the 10MM row limit.

[2016-11-24 17:16] #15 closed

[2016-11-24 17:16] kytrinyx commented on #15
Thanks so much, everyone, for helping think this through! :sparkles:

[2016-11-24 22:02] spuder opened #100 "PowerShell maintainer"

[2016-11-24 22:03] spuder commented on #100
I see on twitter talks about keeping momentum going on different languages.

I'm happy to help maintain the PowerShell language.

[2016-11-24 22:21] Insti commented on #100
Awesome! Thanks @spuder
Katrina will add you as soon as she can.

[2016-11-25 16:10] kytrinyx commented on #100
:sparkles: @spuder I'm very excited to have your help on this! I've added you both to the `@exercism/powershell` team and the `@exercism/track-maintainers` team, which has commit on the x-common repository where a lot of the generic discussions happen.

Here's a bit of documentation that could help you get started: https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md
If

[2016-11-25 16:10] #100 closed

[2016-11-25 16:14] kytrinyx commented on #99
Yes! We absolutely need this.

We have some .ai files with the logo in it (as SVG) which could be used to create things. I need help from someone who knows how to deal with SVGs (and who has Adobe Illustrator so we can extract them) to help me out with this.

We don't have any promotional materials, but I would love to make it happen.

[2016-11-25 21:54] kytrinyx commented on #60
@verdammelt no, I think it's legit to be able to deprecate / forego individual exercises on a track level.

[2016-11-25 21:56] kytrinyx commented on #73
I think we're good to go now to change the link in the footer of the page, right @jtigger?

[2016-11-25 21:59] kytrinyx commented on #8
@jtigger I think that's probably correct.

Yeah, I think that within the exercism.io website repo first timers only issues don't make sense, just because the repo is a disaster. For each of the language tracks, it does make sense, but we would need to know that we have a stream of new contributors. Catch 22, I guess.

[2016-11-26 00:19] spuder commented on #100
Sure thing @kytrinyx happy to help.

[2016-11-26 03:07] kytrinyx opened #101 "24 Pull Requests preparations"
We're about a week out from the start of [24 Pull Requests](http://24pullrequests.com/) and it would be lovely if we could prepare in advance to make it as easy as possible to contribute, and as easy as possible to manage.

I'd prefer to focus on the language tracks and the x-common repository, since these are much easier to manage and contribute to than the main site is.

In light of the recent d

[2016-11-26 03:09] kytrinyx commented on #101
One thing we could do is create a stand-alone static website that runs on GitHub Pages at https://exercism.github.io/24pullrequests

It would require a bit of up-front work, but it could be worth it since it would mean that we could point people to a single place that describes how to contribute to Exercism for 24pullrequests.

If each track that wanted to participate in this creates a file in the

[2016-11-26 03:21] kytrinyx opened #102 "What do we do about unmaintained tracks?"
When people submit pull requests and issues to tracks that are not actively maintained it can take a very long time for anyone to respond. I keep an eye on these, but I receive a flood of exercism-related GitHub notifications, so it can take a while before I see them. This is a problem because people get disappointed and frustrated, and they're (understandably) much less likely to continue to cont

[2016-11-26 03:43] kytrinyx opened #103 "Separate exercism curriculum organization?"
UPDATE: Based on the discussion and a lot of hard thinking, I'm proposing a different approach in the comment below: https://github.com/exercism/discussions/issues/103#issuecomment-306017385

-------

_The original issue:_

@petertseng suggested something interesting the other day:

What if we put all of the Exercism curriculum repositories into a separate GitHub organization?

This might make it

[2016-11-26 04:02] kotp commented on #102
I do monitor the old issues, like for Perl, opened in 2014, likely can be closed, I just can't close it.  Though I could bump it, and it would bring attention to them.  There are a few like that, perhaps others see, but can't really actively close.

Maybe for the track maintainers active in a language, they could "adopt an off track" or two or three, since the traffic is low there?  I monitor Perl

[2016-11-26 04:19] spuder commented on #99
We recently purchased company stickers from here:

https://www.stickermule.com/

[2016-11-26 04:24] ricemery commented on #103
Sounds like a good idea.

-r

On Fri, Nov 25, 2016 at 8:43 PM Katrina Owen <notifications@github.com>
wrote:

[2016-11-26 05:00] verdammelt commented on #103
Not sure if I understand. Can you clarify what you mean by 'curriculum'. How does it relate to the x-common exercise metadata, the common test data (if it exists) and language tracks?

[2016-11-26 06:56] kotp commented on #101
That sounds good.  I will have time each day for this in December.

[2016-11-26 08:37] kotp commented on #101
I have created a project with some notes on the Organization level.

Who should submit the tracks individually when ready at the 24pullrequests site?  Track Maintainers?  Or do you think just one suggestion to cover any/all?

[2016-11-26 08:50] ErikSchierboom commented on #103
Excellent idea!

[2016-11-26 09:08] NobbZ commented on #103
I do like the idea and fully support it. Not only that it will make life
easier for you Katrina, but it will make more clear where stuff belongs to.

Erik Schierboom <notifications@github.com> schrieb am Sa., 26. Nov. 2016
09:50:

[2016-11-26 09:12] NobbZ commented on #101
I will take a deeper look later today, in general is like to fish for help
this way, but since my unborn is scheduled for mid of December I might
disappear all of a sudden for a week which would be disappointing for
participants.

Should I still try to set it up for erlang or leave it out?

Victor Goff <notifications@github.com> schrieb am Sa., 26. Nov. 2016 09:37:

[2016-11-26 12:43] Insti commented on #103
:+1: to anything that gets rid of the `x`

[2016-11-26 15:01] kytrinyx commented on #103
@verdammelt Yeah, anything that is part of the exercise definitions. That is:

- the generic stuff that is the x-common repository
- all the language-specific repositories that contain exercise implementations

[2016-11-26 15:02] kytrinyx commented on #103
Oh, also: I'm not at all tied to the word `curriculum`. We could name the organization whatever makes sense, I've just been thinking about it as _curriculum_ for a few years, so that was the terminology that came to mind when I wrote this.

[2016-11-26 15:06] kytrinyx commented on #101
@kotp thank you! If we need to submit individual repositories, then probably track maintainers, but if we have a stand-alone site or a single link that we can point people to which directs them further, I think it would make more sense to just submit one link. Then again, if we want to tag projects individually with the correct language, it might make more sense to submit each track individually.

[2016-11-26 15:30] bernardoamc commented on #103
Excellent idea! 👍

[2016-11-26 15:34] petertseng commented on #49
Apparently this is now being considered at #103 . I'll talk about it there.

[2016-11-26 15:41] petertseng commented on #103
I originally thought this idea was not so good because it might have meant the track maintainers have to be added to two orgs, but if x-common moves too then everything might just make sense! Then the track maintainers would (normally) only need to be added to the curriculum organisation, very nice.

So I'm surprised to see it received well (not unpleasantly, of course).

Decision to be made: Woul

[2016-11-26 15:43] petertseng commented on #103
Actually, why is that x there in the first place anyway...?

[2016-11-26 16:23] kytrinyx commented on #103
Yes. I actually think we should have two discussions repos—one for the website/product/marketing/etc, and one for the curriculum (everything to do with exercises).

We might also end up with other repositories (e.g. a place to nominate maintainers and discuss track health/status).

I'm happy to do this. Also it can be scripted.

Probably. I don't think inactive maintainers are a problem per se. In

[2016-11-26 16:35] kytrinyx commented on #102
@kotp I would be happy to give you access to Perl 5 (and thank you for monitoring! That really helps. The pings help. I'd love to find a better system, though... which is why I wrote this up.

Yeah, ain't that the truth!

[2016-11-26 18:45] jtigger commented on #73
That's right.  Two tasks left on this one part: exercism/exercism.io#3187.  Then it's considered "done" (first iteration caveats).  I'm tracking "next steps" in [this project board](https://github.com/exercism/exercism.io/projects/1).

[2016-11-26 22:09] guntbert opened #104 "Shouldn't tests in the various language tracks test the same cases and be consistently named?"
Looking at the test suites I find cases where the test names are very descriptive **and** they are consistent across the tracks (e.g. HAMMING).

But there are cases where we not only have very different counts of tests in different tracks but the names of those tests are not consistent across the tracks. For an example I look at LEAP
- C# : very descriptive, 4 tests
- C++: not quite as descriptive

[2016-11-27 07:13] Insti commented on #104
We're working on this, have a look at what's going on in the https://github.com/exercism/x-common repository. The ones that are consistent probably have a `canonoical_data.json` file describing all the tests.

You can help by comparing what different tracks do and creating a `canonical_data.json` file containing all the tests needed for exercises that are missing it.

Or by updating the tests in t

[2016-11-27 08:21] stevejb71 commented on #104
When canonical data is updated, would it be reasonable to update the track maintainers (possibly by adding issues through blazon)?

[2016-11-27 08:55] Insti commented on #104
That's a good idea, but I think the answer is 'not now'

Currently canonical data gets tweaked a lot, and it's important not to cause blazon fatigue so that important issues don't get lost in the noise.

Track maintainers have the ability to check for themselves if canonical data has been updated, and it's not super critical if problems from different tracks have different test cases.

[2016-11-27 18:11] IanWhitney commented on #99
Would prefer not stickermule. Just giving them money probably violates our COC. Some details here: https://twitter.com/monteiro/status/785579905601839104 More available if you're interested.

[2016-11-27 18:15] IanWhitney commented on #101
Could it work like Hacktober fest where we created an issue badge? I should have time to work on this on Wednesday, and I should be able to look at PRs throughout December.

[2016-11-28 00:03] spuder commented on #99
If I understand correctly from that link. The CEO of sticker mule supported a particular political candidate.

The political candidate a person supports is a _personal_ choice. Blacklisting a _business_ because of the founder's _personal_ belief is a bit extreme. In fact there is a word for that, it is called '[persecution](http://www.dictionary.com/browse/persecute)'. Surely you weren't suggestin

[2016-11-28 01:34] IanWhitney commented on #99
Don't put words in my mouth, @spuder.

[2016-11-28 02:15] mienaikage commented on #99
Let's not jump to conclusions. @IanWhitney, would you care to elaborate/give more info for clarity?

Choosing not to do business with a particular company would not be persecution, as we would in no way be pursuing them.

[2016-11-28 06:08] rbasso commented on #97
@kytrinyx, could you please add @abo64 as a maintainer in the Haskell track too?

Both @petertseng and I agree that he would be a great addition to the Haskell team, and this would also move the Haskell track from **"At risk"** to **"Maintained"**.

[2016-11-28 06:43] Insti commented on #99
Please create a new issue for political discussion.
It would be nice to be able to use this one for discussing Exercism promotional materials.
At this point we do not even have any stickers, so choosing where to print them is completely irrelevant right now.

[2016-11-28 09:37] petertseng commented on #102
One thing that might help is to set some expectations, something like "You should expect to hear back from a track maintainer in X days. If you don't, you can inquire at _____ as to the status of the track". Perhaps it can be placed in the README or contributing doc for each track?

[2016-11-28 11:22] kotp commented on #20
I have recently started creating projects that can signal a "Yes do it" type of communication, as well as organizing the "things that are related" in a way that can help organize these.  If the project is on an organization level, it can organize all the things that are related, regardless of the repository location.

More localized changes, if more than 3 issues in the same repository, perhaps, i

[2016-11-28 11:28] petertseng opened #105 "What should we put in our invitations to new maintainers?"
As #97 has indicated to us, the power and duty to invite new maintainers rests in our (existing maintainers') hands.

But one big reason I had always been hesitant to do so in the past (instead preferring to let @kytrinyx do it) was because I didn't know what to say in my invitation to a new maintainer!

So @kytrinyx suggested having a template email for such an invitation, so that we don't have t

[2016-11-28 12:11] kotp commented on #101
[![Gitter](https://badges.gitter.im/24pullrequests/24pullrequests.svg)](https://gitter.im/24pullrequests/24pullrequests?utm_source=badge&utm_medium=badge&utm_campaign=exercism.io)

[2016-11-28 13:08] kotp commented on #101
It also looks like Exercism.io is listed as a "project" on their site.  This is one point of entry, the tracks may also be good to have there as well, for those looking for specific language contributions..

[2016-11-28 17:57] kytrinyx commented on #101
Yeah, that would actually make it very easy to link to issues / search results.

We could definitely update the link or project or whatever to be more useful to us. I agree that we should have tracks up individually for people looking for language-specific contributions to make.

[2016-11-28 18:49] kytrinyx commented on #31
@troubalex @jtigger I've been doing a whole lot of thinking and talking and musing over the past few weeks and months, and I realized that I have had an insight about Exercism that I've not communicated anywhere.

Here's what I've come to understand:

Exercism is based on the idea that you can develop a high degree of fluency even at a low level of proficiency. In other words, you can be extremely

[2016-11-28 22:15] kytrinyx commented on #20
Green for "Go!" sounds like a good idea. I'd be interested to hear back in a couple months how the projects stuff is working for you.

[2016-11-28 22:43] kytrinyx commented on #104
I think that if the test suite gets a big overhaul (interesting edge cases, adding/removing a number of tests) then it's probably worth adding an issue via blazon. These are great issues for new contributors, and so we could also make sure to add the "good first patch" label.

If it's a change only to the descriptions, then I wouldn't bother submitting issues via blazon.

[2016-11-28 23:23] kytrinyx commented on #97
@rbasso done! @abo64 Thank you!

[2016-11-28 23:30] kytrinyx commented on #105
That list is exactly what I would want, which makes sense seeing as it's basically what I wrote to @petertseng when I invited him :)

For this if possible I'd like to be specific about what we like (being helpful in code reviews, being kind, meticulous code reviews—anything to positively reinforce behavior that we want to encourage more of, and would be delighted to see in other users.

@jtigger @

[2016-11-29 08:10] Insti commented on #105
Anecdata: When I was invited to be a maintainer on the xruby track, I'd already been active with PRs and reviews for a few weeks and @kotp asked me casually in the Gitter chat and I said yes. I was honoured to be asked.  If I'd received a big email with a whole lot of things I'm committing to for that would have been more scary.

So I think I agree with @petertseng,  A shorter email that says 'we'

[2016-11-29 16:40] jtigger commented on #31
I love this, @kytrinyx.

In terms of design... what comes up for me is: words that speak to Code Newbies an aesthetic that speaks to the artisans.

**Side-question:** do you prefer "Code Newbies" to "Early Programmers"?  Any difference in your mind between the two?

----

@kytrinyx said:

I couldn't agree more.  In fact, we're having a bit of a growth spurt on the Java track and it's been making m

[2016-11-29 17:23] IanWhitney commented on #31
A suggestion I made (but haven't really pursued) would be to have multi-step exercises. Following the 99 bottle idea, you'd have

- Exercise One: Implement the basic 99 bottles song
- Exercise Two: Change the Exercise One code to implement "Six Pack" requirement
- Exercise Three: Change the Exericse Two code to implement "A Case" requirement

The advantage here is that students dig deeper into pro

[2016-11-29 21:26] robkeim commented on #31
Thanks @kytrinyx for the additional insight on the objective of Exercism:

I stumbled upon the sight trying to learn F# to familiarize myself with functional programming and I found it fairly surprising that there was no gamification component. I guess that shows how accustomed I've become to it being a part of my life, for better or for worse.

I definitely agree that gamification can lead to unw

[2016-11-30 00:06] kytrinyx commented on #105
Yeah, me too. Nothing too long, and nothing that indicates that you're committing to a whole lot more than you're already doing. We're asking you because you've already contributed in ways that we appreciated.

[2016-11-30 00:55] petertseng commented on #105
Can I ask for clarification on:

One could interpret this to mean one of two extremes:

* we believe the commitment is actually large, but we want to hide it for some reason
* we believe the commitment is actually small, and we want to make that clear

Though I think the answer is between the extremes: It seems that you (general "you", not any particular person I'm speaking to) have pretty big lee

[2016-11-30 01:32] kytrinyx commented on #105
Yeah, absolutely. We can tap or nominate as many maintainers as necessary to keep a track active and humming along without overburdening any one person.

It should be up to each person how much they're willing to contribute. If a language track is getting less attention than it needs, that's not the fault of any individual, it's a systemic fault: we've not done enough (as a project) to attract con

[2016-11-30 07:09] kotp commented on #101
Sounds good.  Unfortunately, it appears that permissions on the Exercism organization for me are not high enough for me to add my track(s).

[2016-11-30 18:56] troubalex commented on #31
I had to let this sink in for a bit, @kytrinyx, and think about it. This is some great insight.

To me, even though all three user groups have slightly different needs and objectives, it seems like they all have one thing in common: they're sticking their heads out.  All of them expose a part of their self to a more or less predictable audience. They're taking a risk.

Code newbies and polyglots a

[2016-11-30 21:16] kytrinyx commented on #101
I'll add all the tracks that we want to add. This will stop being a problem if/when we move the curriculum stuff to a separate organization on GitHub.

[2016-11-30 21:18] kytrinyx commented on #101
@kotp When you say that your permissions are not sufficient, where are you trying to add it? I don't see anything on the dashboard or the main 24pullrequests for adding repos.

[2016-11-30 21:20] kytrinyx commented on #101
OK, I went to "your suggestions" and suggested github.com/exercism/xruby, and it's already suggested. I don't think it needs admin permissions.

[2016-12-01 01:38] kotp commented on #101
Yep, it was the "claim" that was insufficient, but my test on the suggestion did go through about 8 hours ago.

[2016-12-01 01:38] kotp commented on #101
Unsure if there is more to do there... than suggest it, don't know what the benefit to claiming would be.

[2016-12-01 03:26] kotp commented on #20
[Exercism organization level projects](https://github.com/orgs/exercism/projects) so hopefully you will know when I know. :)  Still not sure how notifications work for those, etc.  But may be a good way to get a little higher level view on some of the things that involve multiple repositories.

[2016-12-01 03:55] kytrinyx commented on #101
Me neither. That said, since Exercism is featured, we could do a lot by having a nice landing page that the 24pullrequests site could point to, to get everyone started.

[2016-12-01 04:25] kotp commented on #101
I have a template up in a pull request on exercism/xruby and the track is included in reports.

![selection_003](https://cloud.githubusercontent.com/assets/16747/20781838/4377d9e0-b754-11e6-9e5d-b929a67eeef0.png)

[2016-12-01 06:56] tejasbubane commented on #101
@kytrinyx I can put up a page for this. What all things would you like to have there? We already have http://exercism.io/contribute but we need some stuff catered specifically towards beginners. A few things that pop up my mind are:

* overview of what `exercism` is and the project ecosystem
* list of maintained languages tracks
* some help on adding exercises to languages - maybe [your article](h

[2016-12-01 11:59] kotp opened #106 "Transition time for solutions - test maching"
When, and as, exercises transition, and the versions of the tests change, solutions (iterations) keep coming in, over time.  This means that from the fetching of the exercise, to submission, there is a time (this can be an extended amount of time) where the LoL (Lover of Learning) has perhaps test version 2, while when we fetch to review, we get test version 3.

How can we fetch the version 2 test

[2016-12-01 13:38] troubalex commented on #99
I can probably help out here, @kytrinyx.

[2016-12-01 16:28] jtigger commented on #8
On the Java track, I have been specifically trading off the time spent fixing things with creating [issues to fix to fix a small chunk](https://github.com/exercism/xjava/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+patch%22).

My current intent is to groom a perennial backlog of such issues so that we always have between 10-15 of such chunks of work.  If the backlog grows passed 15 such iss

[2016-12-01 16:42] jtigger commented on #105
This discussion is landing in a spot that real resonates with how I've thought about it.

- short and sweet
- specific praise
- handing them the guilt-free quit card *immediately* (thinking: "quitting" is what's appropriate when you're done)
- making the scope of the commitment clear (perfectly done in [maintaining-a-track.md](https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-

[2016-12-01 16:48] jtigger commented on #31
@IanWhitney succinctly suggested breaking down the 99 Bottles problem into phases, [above](https://github.com/exercism/discussions/issues/31#issuecomment-263637219).

YES!  There's another opportunity I saw this morning like that in the `all-your-base` exercise (exercism/x-common#461).  I'm certain there are others.

If we do a good job of consistently providing depth to exercises *and* continuous

[2016-12-01 17:00] kotp commented on #31
Something else that can, and I have done and have seen, happen is solving, reviewing, moving on, then coming back after an extended period of time to do it again, in another way.

First time may be a goal to solve, and on review, become idiomatic, next time may be to solve in a way that is not only not idiomatic, but something that you would definitely not do, but it works, and perhaps discover wh

[2016-12-01 17:02] jtigger commented on #31
@troubalex said:

I just said out loud, "oooo, I LOVE that!!!"

YES! and I'd add balancing attributes too: challenging, disciplined, stretching... growing pains are unpleasant sensations.  I believe that is invigorating to our desired audience.

[2016-12-01 17:06] jtigger commented on #31
@troubalex said:

I'm not seeing the disagreement. :)  Are you saying that ... what are you saying?!  I think we're talking about how there are these three different cohorts who have both an overlap of need and a disjoint of need (duh)... but that perhaps our design focus should favor one?

[2016-12-01 17:47] kytrinyx commented on #106
The easiest way would be to submit the tests along with the solution.

For example:

[code]

Could by default submit everything in the current directory with all the trees, recursively (assuming that you're in an exercism track / problem directory).

Then we might not display the tests by default on the site, but we could let you expand it.

And we could get rid of versions.

[2016-12-01 17:51] kytrinyx commented on #99
@troubalex that's awesome. Let me send you a link to the .ia files I have, and you can see if there's anything we can extract.

[2016-12-01 18:34] troubalex commented on #31
@jtigger

It was late when I wrote this. 🙈
I guess what I was trying to say is: I disagree with focusing on the artisans, I'd rather put the polyglots as main audience for the visual design because they represent the overlap between all three cohorts.

[2016-12-01 18:57] Insti commented on #99
Maybe another thread required: Are we married to the current horned e logo?

It doesn't really say to me 'the friendly way to chat about code.'

Logos are harder than names.

[2016-12-01 19:11] kotp commented on #99
It should say "The devil is in the details - Exercism".

[2016-12-01 19:25] kotp commented on #106
Yes... get rid of versions!  That is a great advantage to this.

Submitting everything may be language specific, as it would not be wanted to need to store and download the compiled assets in those compiled tracks.

[2016-12-01 19:57] troubalex commented on #99
Turns out the logo file in SVG is here: https://github.com/exercism/exercism.io/blob/master/public/icons/logo.svg

Let me know if you want any help in preparing something for stickers. Although, a real graphic designer might know more about these things than me.

[2016-12-01 21:17] kytrinyx opened #107 "Copyright/License on submitted solutions"
@willnorris submitted a pull request (https://github.com/exercism/exercism.io/pull/2975) a few months ago to clarify that since nothing else has been stated, the person who wrote the solution that gets submitted to Exercism owns the copyright to that code.

This is true and should remain true forever and always.

I'd be curious to see what you all think about making solutions (going forward, I pre

[2016-12-01 21:56] IanWhitney commented on #107
Would it be easier to put text in the submission#show view that says this? Right around here: https://github.com/exercism/exercism.io/blob/master/app/views/submissions/show.erb#L45

I have seen a student put a GPL notice at the top of all of his submissions. Not sure if there's any concern about him stating one license & us stating a different one.

[2016-12-01 22:00] willnorris commented on #107
You'd definitely have problems doing that retroactively.  Just look at the mess [StackOverflow went through](http://meta.stackexchange.com/questions/271080/the-mit-license-clarity-on-using-code-on-stack-overflow-and-stack-exchange) with trying to attach a default license to code submissions there.

I wouldn't use CC-BY though... even Creative Commons [discourages using CC licenses for software](ht

[2016-12-02 00:03] kytrinyx commented on #20
@kotp I don't think there are notifications for projects—at least I don't see a way to subscribe. I do think it's a good way to get a higher-level view of things, though!

[2016-12-02 00:07] kytrinyx commented on #101
@IanWhitney Yeah, a 24pullrequests label would be good, that way we can link to it from the page that @tejasbubane is offering to put up.

@tejasbubane that would be excellent!

It might be worth linking to individual documents in https://github.com/exercism/exercism.io/tree/master/docs (not all of them, maybe just [getting involved in a track](https://github.com/exercism/exercism.io/blob/master/d

[2016-12-02 00:12] kytrinyx commented on #107
@willnorris Yeah it seems like it would have to be opt-in for older submissions, and only going forward if we did a proper notification on the site, etc.

The thing that I'd like to be able to do is reference code examples with attribution without having to ask each individual up front.

[2016-12-02 00:25] kytrinyx commented on #106
@kotp I was hoping you'd say that :-)

Ahh, we would probably want to have a global .ignore for a language track that the CLI could reference.

We now have support for global files, though, so that wouldn't actually be too bad.

[2016-12-02 00:26] kotp opened #108 "Using Github Projects Feature"
See some back story in #20.

There are currently in the Exercism organization level some [Projects](https://github.com/exercism/discussions/projects) that are being tested.

There are three projects, The 24PullRequests project is multi-track, and so it is possible to manage that relationally.  Though it seems to be manual (I haven't seen a way have it move in a more automated way...)  But at a gla

[2016-12-02 00:27] kotp commented on #20
exercism/discussions#108 to continue, I think it is a big enough conversation to have on its own, even if it is related.

[2016-12-02 00:29] kytrinyx commented on #108
I'm not really sure whether or not projects will work for us, but I certainly think it's worth a try!

[2016-12-02 00:30] kytrinyx commented on #8
@jtigger I love how that gives a measure of when to do what. Very actionable.

[2016-12-02 00:35] kytrinyx commented on #99
I'm not married to anything. I really like "the devil is in the details", but I took it off the front page because it's not immediately clear what I mean by that. I think it would work better for swag. I don't know.

@troubalex I have been wanting a sticker that is a black circle with a cut-out of the horned e so that I could put it over the apple on my macbook and have the e light up. Is that som

[2016-12-02 00:37] kytrinyx commented on #20
Agreed, thanks @kotp

[2016-12-02 01:47] kotp commented on #8
Regarding a message from [25 April](https://github.com/exercism/discussions/issues/8#issuecomment-214176249): I am playing with a set of [template files for issues/pull requests](https://github.com/exercism/xruby/issues/497) in the Ruby track, to keep it isolated, and gauge what to put in there and if it is deemed helpful for us, but on a lighter impact, as it affects currently only one track, and

[2016-12-02 01:59] kotp commented on #20
Regarding [comment at June 25](https://github.com/exercism/discussions/issues/20#issuecomment-223837749) I have started (and may merge tomorrow) pull request and issue templates that can be used... it may be helpful to list these things in a checkbox to guide the things that we would like to see, reference labeling (they can check the box, we can label if they don't), and it is something that is u

[2016-12-02 04:03] willnorris commented on #107
I suppose it would depend on what you mean by "referencing" them as to whether that would fall under fair use (and if anyone would likely care anyway).  But now we're getting into IANAL territory. 🚫 😬

[2016-12-02 04:32] kytrinyx commented on #107
@willnorris Yeah, that's fair.

I'm thinking blog posts and conference talks, which would probably fall under fair use.

[2016-12-02 05:10] rbasso commented on #107
Considering that most of the users probably don't really care about what people do with the submitted code, I think that it makes sense to force a free license for all new content. If someone is so protective about its code, maybe it should not be submitting anyway.

*Sad times are these when people have to ask permission to use publicly available information...*

[2016-12-02 06:52] Insti commented on #99
Lower-case `e` is a hard letter to create a cutout for topologically speaking.

[2016-12-02 12:24] kotp commented on #15
@kytrinyx Still out of pocket?  Or did we find a sponsor?

[2016-12-02 12:40] troubalex commented on #99
I made a cutout version of the logo. The SVG file lives here: https://www.dropbox.com/s/lyhdwunefxleau1/logo_cutout.svg?dl=0

@Insti

That's what I thought too. Stickermule offers the option to print on clear vinyl though which should do the trick. I'd assume other sticker providers do the same.

[2016-12-02 13:49] kotp commented on #99
![Cutout version of logo](https://photos-3.dropbox.com/t/2/AADG8zSkGY-mYOQN6GoCQVJwszT7v6vNFHONYtTjvSfRmA/12/1849057/png/32x32/3/1480701600/0/2/logo_cutout.svg/EL2qvgEY2amXRSACKAI/FJ8fvpbqmLcM3UOUVidShIAJVH8BaXZ-X679YDMviY0?size_mode=3&dl=0&size=2048x1536)
Here for convenience.  @troubalex  let me know if you need this not linked directly (unsure link limits, etc).

[2016-12-02 13:54] troubalex commented on #99
Is this still SVG? I tried uploading that directly here but Github wasn't happy.

[2016-12-02 14:39] jtigger commented on #96
Next step: as such discussions stabilize, it makes sense to summarize and somewhat codify such decisions (the big one ATM is "safeguarding intrinsic motivation" aka "just say no to gamification").

So, imagine a Markdown document somewhere that summarizes these apparent decisions and links into the "policy"'ed issues for details.

- where would this document live?
  - it should be prominent to the

[2016-12-02 16:38] jtigger commented on #108
I've been using Projects for a while now.

I'm finding them useful for organizing a group of maintainers on a track.  On [the Java track](https://github.com/exercism/xjava/projects/2), the maintainers are using it to express priorities of work *they* are doing... separate from other work (like the [good-first-patch](https://github.com/exercism/xjava/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+fi

[2016-12-02 16:53] tejasbubane commented on #101
@kytrinyx Sorry. I am travelling this weekend and won't be able to work on this 😞 .

If anyone wants to work on getting this page up, please do so (since 24pullrequests has already started). I can get back to this on Monday if no one does.

[2016-12-02 18:33] kotp commented on #99
No, it is here for display purposes.  It is linked to it, but translated in transport.

[2016-12-04 09:25] jtigger opened #109 "Surface "good" conversations"
**Goal:** surface great conversations while NOT creating a game around what's "great."

*(I'm fighting a flu and just woke in the middle of the night with this idea; this all could be crap.)*

----

What if the "see more submissions of (exercise)" showed the next submission in a hand curated list of "good" submissions? (note: NOT changing the Activity Stream, just what you see when you click "next

[2016-12-04 15:29] kytrinyx commented on #96
How about having a `policy` doc here in the `docs/` directory of the exercism/exercism.io repo?

We might decide that we want a whole directory with one document per policy and a README for the table of contents, but until there's an explicit need for it, maybe we can just keep it like this.

We might also end up with so much documentation that we want to stick it in a separate repo. Now that we c

[2016-12-04 15:30] kytrinyx commented on #108
They might, if GitHub discussed timelines publicly.

[2016-12-04 15:38] kytrinyx commented on #109
I think this is really interesting, and would love to see an experiment that tries something like this out!

[2016-12-04 15:39] kytrinyx commented on #15
Heroku is giving us platform credits! (so: found a sponsor)

[2016-12-04 15:43] kytrinyx commented on #101
@tejasbubane don't apologize for having a life :heart:

[2016-12-04 15:44] kytrinyx commented on #99
That. Is. Awesome! (screenshot of the svg below)

<img width="178" alt="screen shot 2016-12-04 at 8 44 10 am" src="https://cloud.githubusercontent.com/assets/276834/20867289/e3725a32-b9fd-11e6-814f-54ce0415c92b.png">

[2016-12-04 17:04] troubalex commented on #99
The e looks off center. I'll give it another shot.

[2016-12-04 17:39] kytrinyx commented on #99
@troubalex it might just be the screenshot.

[2016-12-04 18:02] troubalex commented on #99
I moved it up a bit. Good enough.

![logo_cutout](https://cloud.githubusercontent.com/assets/1913615/20868127/291dddbc-ba54-11e6-9e8b-1f3a39ed6721.png)

The Dropbox link further up is up to date.

[2016-12-04 18:06] kytrinyx commented on #99
Love it, thanks!

[2016-12-04 18:11] kytrinyx commented on #99
I've created a repo for stuff like this: https://github.com/exercism/marketing

I added the exercism logo, and this cutout.

[2016-12-05 05:06] kotp commented on #25
Probably monit on rackspace server.

[2016-12-05 13:03] IanWhitney commented on #25
A +1 for Monit. I have found it easy to use for these sorts of things.

[2016-12-05 13:56] Motardo commented on #32
The code/discussion page uses a two column layout with the code on the left and the comments on the right. Here are some thoughts on this layout:

1. **Sometimes the list of comments is longer than the code**
    - the code column is "sticky" so you can keep it in view as you scroll the comments (current behaviour)
2. **Sometimes the code is longer than the comments**
    - should the comments col

[2016-12-07 19:23] tejasbubane commented on #101
@kytrinyx Here is my first take at the website: https://tejasbubane.github.io/exercism-24pullrequests/ Kept it quick and short. Please let me know if I missed something or something should be added.

PS: I am pretty bad at these frontend, design and UX things. So all suggestions are welcome! 😄

[2016-12-07 20:37] Insti commented on #101
I like what you've done.

From a (I'm not a designer) design perspective, I'd suggest making it less pink. Having a highlight color as a background makes my eyes hurt.

From a 24PRs perspective, my 24PRs are stuff I'd be doing anyway, so I'm not sure how many new contributors a project should expect, or whether this type of page would make a difference, maybe it does. I certainly can't see it caus

[2016-12-08 00:04] kytrinyx commented on #101
I agree on the pink—I think let's take that off, and then let's link to it!

Next year maybe we can take some time earlier on to think through how people land at the project, and what we can do about these sorts of month-long campaigns like 24pullrequests and hacktoberfest to help people get started.

[2016-12-08 05:27] kotp commented on #101
Looks good to me, and yes about the pink.  I am hoping that the [projects board](https://github.com/orgs/exercism/projects) can help with this.

[2016-12-08 09:04] tejasbubane commented on #101
Changed the pink to light red.

[2016-12-09 00:01] kytrinyx commented on #101
Love it @tejasbubane. I'm editing the description of Exercism to point to this now. I'll check with 24 Pull Requests if we can link to it from there, as well.

[2016-12-09 00:08] kytrinyx commented on #101
@tejasbubane If we stick this in an org by itself we could point a pretty CNAME to it.

I've made the org (x24pr) and invited you. I'll make you an admin so you can transfer it.

[2016-12-09 00:10] kytrinyx commented on #101
Wait. I'm totally just going to clone it and push it up :-)

[2016-12-09 00:14] kytrinyx commented on #101
OK, it's up at http://24pullrequests.exercism.io/

Accept the invite so I can make you admin, @tejasbubane. But you don't need to transfer it.

[2016-12-09 01:00] kytrinyx opened #110 "Exercism team for rikki?"
@mhelmetag @kotp I think we might be ready to consider a more community-based approach to rikki :-)

Want to be in a rikki team?

My thinking is that everyone on this team should have access to the heroku apps for the analyzers:

- crystal-analyzer
- ruby-analyzer

Also, access to the server where rikki is running (demogorgon) on rackspace to troubleshoot or deploy

And we should probably document

[2016-12-09 01:02] kytrinyx commented on #110
Oh, access to all the rikki-related repos that we have.

[2016-12-09 02:25] mhelmetag commented on #110
Yay, rikki 🎆

Is rikki the only thing still running on rackspace now?

I can definitely help with that.

In terms of setting up the team with server and repo access, this all sounds good to me!

Should we fork crystal-analyzer into exercism so that all the rikki related things are in the org?

[2016-12-09 04:34] tejasbubane commented on #101
Awesome! 🎉

[2016-12-09 04:55] kytrinyx commented on #110
Yepp, that's it.

Excellent! I started documenting deploy stuff in a DEPLOYMENT.md document in the rikki repo a while back, and I also wrote a very rudimentary deploy script that has totally worked for me for 18 months or so. It's in the rikki repo as well, under `bin/`.

Excellent, I'll get that sorted, then.

Only if we're going to be developing on the fork. If not I'd rather it lived in your ac

[2016-12-09 10:23] dvberkel commented on #110
Rikki seems really cool!

[2016-12-09 10:25] alebaffa commented on #99
oh, please create also a red version :red_circle: . It's so cool! :smiley:

[2016-12-09 11:28] Insti commented on #99
Red, or "Exercism pink"?

[2016-12-09 21:27] kytrinyx commented on #110
Thanks @dvberkel it's been a great experiment, and I think it's turning into something a lot more useful than I first imagined.

[2016-12-09 21:55] kytrinyx commented on #110
I created a checklist in the original issue. The next steps on the list to move this forward are:

- @kotp if you want to be in on this, let me know and I'll add you in the various places. If you have a heroku account already let me know which email address to use for you there.
- @mhelmetag: would you try deploying the ruby analyzer? Try using the documentation in exercism/rikki to figure out whe

[2016-12-10 06:35] mhelmetag commented on #110
Sure! I'll give it a shot!

Email sent.

[2016-12-10 06:49] mhelmetag commented on #110
Is it intentional that exercism-crystal-analyzer also has help.exercism.io pointed to it?

![dns_question](https://cloud.githubusercontent.com/assets/8609429/21071800/bb395972-be61-11e6-9756-2db9c7d19e83.png)

[2016-12-10 09:18] kotp commented on #110
@kytrinyx You can grab the public key for any user that has submitted one: `GET /user/keys/:id` for your own, and `GET /users/:username/keys` for anothers keys.

The Heroku e-mail account is the same e-mail address you have for me on gmail.

[2016-12-10 10:11] tejasbubane commented on #99
Here is one with the `exercism pink` https://www.dropbox.com/s/1yd8fupjkssszgp/logo_cutout.svg?dl=0 @alebaffa
`svg`s are nice to manipulate. Just replace the color in text. 😄

[2016-12-10 15:17] kytrinyx commented on #110
LOL, no, not at all. I had a problem creating new apps (because of an ENV var, it turns out), so I repurposed the old help app and turned it into crystal-analyzer. I've removed it now:

[code]

Agreed. I've removed both `LANG` and `RACK_ENV`.

I've not necessarily felt the need for it, but if it's something that would make development easier, we should definitely consider it.

@kotp I had no idea,

[2016-12-10 16:07] kytrinyx commented on #110
@kotp @mhelmetag your public SSH keys should now be on the authorized list on demogorgon. I'm sending you the IP address.

[2016-12-10 17:35] kytrinyx commented on #99
I've added it to the repo: https://github.com/exercism/marketing/tree/master/stickers

We'll totally take PRs to that repo, by the way :)

[2016-12-10 20:54] mhelmetag commented on #110
@kytrinyx , I seem to have done goofed a bit. It seems I jumped the gun a bit and didn't look at my heroku logs well enough. It seems that I don't have access to `crystal` on heroku and I was relying on a system call... My fault. Hopefully I can fix this with some buildpack stuff.

Looks like rikki hasn't made any Crystal comments as of yet (besides on my tests). So I think we'll just have to do a

[2016-12-10 22:08] mhelmetag commented on #110
Updated the `exercism-crystal-analyzer` to be hardcoded so that we don't make rikki comments in error... ugh 👎

I will solve this!

[2016-12-11 15:50] kytrinyx commented on #101
I'm going to go ahead and close this, as we're halfway through the month, and we got the great landing page from @tejasbubane

[2016-12-11 15:50] #101 closed

[2016-12-11 16:42] kytrinyx opened #111 "I will be going radio silent from December 15-Jan 1"
I will not be responding to email or GitHub issues or reviewing pull requests for the second half of December.

I will be deploying updates to the language tracks as a part of my daily routine, but I will not be reachable unless there's a crisis, in which case I can be reached by SMS. A few people have my number, I will check with them if they'll be checking email and GitHub notifications, and I'l

[2016-12-11 17:30] Insti commented on #111
How do you want us to handle PRs? Do you want us to merge them? Tag them as 'ready'? or just let them all pile up until you get back?

[2016-12-11 17:41] ErikSchierboom commented on #111
Enjoy your break!

[2016-12-11 17:56] kotp commented on #111
Indeed enjoy your break.

You have some pretty good henchfolk here so things should mostly go smooth.

[2016-12-11 18:06] kytrinyx commented on #111
@Insti You have all been making great decisions ✨ :heart: despite my lack of having communicated a good vision for the web portion of things. Go ahead and merge things! Thank you so much :heart:

[2016-12-11 19:23] Insti commented on #111
Great. Thanks. Have a good break! :christmas_tree:

[2016-12-11 21:40] robkeim commented on #111
That's definitely a well earned time off :) Enjoy and see you next year!

[2016-12-11 22:00] parkerl commented on #111
🎉 That is great!

[2016-12-11 23:11] bernardoamc commented on #111
Enjoy the break Katrina! ❤️ 🎉

[2016-12-12 09:00] behrtam commented on #111
Great decision! Enjoy your time off.

[2016-12-12 10:33] rchavarria commented on #111
Enjoy your break!! 🎉

[2016-12-12 14:12] petertseng commented on #41
nominating for policy label.

[2016-12-12 16:29] kytrinyx commented on #110
@mhelmetag Gah, I didn't see this. Where do you not have access? Where did you update the exercism-crystal-analyzer to be hard-coded?

[2016-12-12 16:36] jtigger commented on #111
More than well-earned, @kytrinyx!  Clearly "the shop" is in good hands while you're taking a proper rest. ☺️

[2016-12-12 16:50] kytrinyx commented on #107
I'm going to stick with what we have, thanks for weighing in.

[2016-12-12 16:50] #107 closed

[2016-12-12 17:06] mhelmetag commented on #110
I have all the access I need. I was able to deploy the quick patch for this with no problems.

I just hard coded the analyzer's method to check the format of the solution so that it always thinks it's valid (and skips the system call).

I think I have a fix for this (using heroku containers so I get more control of what's installed on the server). Should be not much different.

In the long term, I

[2016-12-12 18:29] kytrinyx commented on #110
Ah, OK cool. Thanks for the update.

[2016-12-13 16:21] kytrinyx opened #112 "Open Source Fellowship (Hacker Paradise)"
Hacker Paradise reached out to me recently about their new open source fellowship.

Read more here: http://www.hackerparadise.org/blog/2016/11/17/open-source-fellowship/

The application deadline is December 21st.

So, first: If you have a project or an idea and the time to participate, go for it. Apply. You don't need me for that.

Second: If you're interested in this, but not really sure what yo

[2016-12-13 16:42] dvberkel commented on #112
Can I retweet something to draw peoples attention to this?

[2016-12-13 17:42] tejasbubane commented on #40
The support for global deprecation is implemented in https://github.com/exercism/x-api/pull/140.

Since this is still unclear to many eg. https://github.com/exercism/xecmascript/pull/250#issuecomment-266714924, should we document the entire deprecation process somewhere?

Something which covers stuff like:
* What global deprecation means and how to deprecate any exercise.
* What should each track

[2016-12-13 21:21] kotp commented on #112
@dvberkel please do.  It is publicly posted, and will help get the word out to the right folks, the people that need to hear it.

[2016-12-14 10:02] troubalex commented on #111
Enjoy your break! ☃️  I'm sure it will be glorious. ❤️

[2016-12-14 15:40] kytrinyx commented on #111
FYI @bernardoamc and @parkerl have my number. If there is an emergency and I need to be involved, please post an issue and `@`-mention them or email them if their email is on their GitHub profile, and they know how to get ahold of me.

[2016-12-14 15:40] kytrinyx commented on #111
Also: thank you everyone :heart:

[2016-12-16 13:25] kotp commented on #72
I prefer the flag as well.

[2017-01-02 15:58] kytrinyx commented on #111
I'm back, thank you everyone for keeping everything running so smoothly. :sparkles:

[2017-01-02 15:58] #111 closed

[2017-01-02 15:58] #112 closed

[2017-01-02 20:23] Theodus commented on #97
@kytrinyx I would like to be added as a maintainer for the Pony track so that I can help get it off the ground.

[2017-01-02 20:59] kytrinyx commented on #97
@Theodus done, and thank you :heart:

[2017-01-03 03:36] petertseng commented on #105
Thank you for your input, everyone. Closing this issue doesn't mean that we are closed to new ideas, but simply that new ideas can now be made at https://github.com/exercism/exercism.io/pull/3329 and (after that PR is merged) with new PRs to that file.

[2017-01-03 03:36] #105 closed

[2017-01-03 16:07] jtigger commented on #105
It occurs to me, re-reading the discussion and Peter's PR (well done, btw), that something is implied.  I'm not sure if it's worth calling out explicitly — this may all just go without saying.  It's this...

... that we look to attract maintainers that are self-starters and want to collaborate (i.e. specifically want to work with a group).  Your participation in Exercism is most satisfying if the

[2017-01-04 15:32] kytrinyx commented on #105
That sounds about right, @jtigger. We really do want people to be doing this because they get something out of the process.

[2017-01-05 03:23] kytrinyx opened #113 "Towards an Exercism Roadmap"
**UPDATE: I wrote in depth about the design aspect of this in the Behind the Scenes newsletter: http://tinyletter.com/exercism/letters/the-delightful-design-of-exercism**

-----

I've had a fair amount of time to reflect recently, and I'd like to lay out some of my thinking and open this up for reactions and thoughts from all of you.

When I originally created Exercism, I had no idea what it was,

[2017-01-05 03:34] kotp commented on #110
@kytrinyx Yes for heroku.  Unsure the deploy to rackspace process.

[2017-01-05 07:14] Insti commented on #113
:sob:

[2017-01-05 14:58] kytrinyx commented on #110
@kotp Probably? I haven't looked into pipelines at all, but that would certainly be worth looking into.

[2017-01-05 23:43] kotp commented on #110
What is the location of the documentation for deploying to Rackspace?

[2017-01-06 01:39] kytrinyx commented on #110
It's in https://github.com/exercism/rikki/blob/master/DEPLOYMENT.md We should probably point to it from the README now that you mention it...

[2017-01-06 02:42] binoymichael commented on #33
It would be great if we could view all the comments/nitpicks given by a particular user.

Some users give really insightful comments. So whenever I submit an exercise, I try to hunt for their comments on other solutions of the same exercise and learn from their comments.

Implementation could be a div on the user's profile page, with a paginated list of comments and options for filtering the comme

[2017-01-06 07:42] mhelmetag commented on #110
@kytrinyx, yeah, I was able to deploy rikki to rackspace (using `bin/deploy`) just now with no problems.

The only thing I could find was that `bin/deploy` wants you to have a ssh alias, setup for the rackspace server, called "demogorgon".

I set that up by adding this to my `~/.ssh/config`:
[code]

* fill in with the rackspace server ip

I could add that to deployment doc?

[2017-01-06 08:16] Insti commented on #110
Better to edit the deploy script to contain the configuration.
(depending on how secret that ip address should be.)

[2017-01-06 10:42] kotp commented on #110
@mhelmetag that is exactly what I did too, with the config.  It is how I connect to the server.  Can you check and see if I killed rikki? :crying_cat_face:

[2017-01-06 11:02] bordeltabernacle commented on #92
I've also recently come across the potential for two different difficulty ratings. For instance in the xgo track, the `grains` exercise can be approached using `math.Pow()` or using `bitwise operators`, the latter in my mind requiring understanding of a more difficult subject, and I was unsure whether to rate the exercise lower or higher depending on the possibilities for an easier or harder to ar

[2017-01-06 16:18] mhelmetag commented on #110
Hmmm... I'm not sure if rikki is happy now... I did see it restart and pickup redis when I deployed but... well here's some output from `/var/log/upstart/rikki.log`:
[code]

That doesn't look great to me but... mind chiming in @kytrinyx ?

[2017-01-06 20:13] kotp commented on #92
When there is a simpler approach, I would use that rating.  The student can decide to solve the problem in a way that is much more complex and difficult.  If the simpler solution is difficult to realize, though, maybe bump it up a level on the difficulty scale.

[2017-01-06 20:14] kotp commented on #110
Can you redeploy @mhelmetag

[2017-01-06 20:32] kotp commented on #110
It is back up and running.  Did it manually rather than through script, but it is using the 2017-01-05 version... feel free to deploy your changes though, if any, please.

[2017-01-06 20:50] bordeltabernacle commented on #92
ok, sounds good @kotp thanks.

[2017-01-07 00:23] mhelmetag commented on #110
Thanks, @kotp. I wouldn't have been able to get to it until after work! Much appreciated!

[2017-01-07 20:56] kytrinyx commented on #33
@binoymichael Yes, absolutely!

I'd like to have it as part of the profile activity stream, open issue here: https://github.com/exercism/exercism.io/issues/2059

[2017-01-08 06:10] kotp commented on #110
Docker sounds good to me.. Anyone using Docker for this?

[2017-01-08 09:19] mhelmetag commented on #110
Yeah Docker would be cool. I'm working on getting crystal-analyzer running on the beta heroku for containers.

[2017-01-08 09:58] kotp commented on #110
I think if the exercism.io and the rikki (and whatever other servers are running) can be setup as containers, perhaps there can be a "quick" or "easy" way to get these running together to be able to easily review changes on the site, test exercise deployments, rikki feedback, etc.

[2017-01-10 09:31] niwolive commented on #113
Mixed feelings, but at second thought I fully support that choice. This is no small undertaking, and fostering the leadership this needs in one big open-circle community would be utterly cumbersome and failure-prone. Key for me is to offer *the right amount* of transparency with the community for the good and the worst. What is called legwork for some is also where others learn the most.
Also, rea

[2017-01-14 05:58] petertseng opened #114 "All tracks that have discussed whether to have stubs or not"
Hello. If your track ever had any discussions regarding whether to provide stub files to students, I would be pleased if you would comment on this issue with what you decided. Or, even better, if you have records of these discussions in an issue or PR, you could add a link to the below list.

* https://github.com/exercism/exercism.io/issues/960 - first support for stub files

Track | Issue | Stubs

[2017-01-14 05:59] petertseng commented on #114
I feel like I should close this issue since there is never any "completed" state for it (*maybe* if all tracks wanted to standardise on whether to provide stub files or not, and we decided to come together and make it happen), and I wouldn't want it to clog up the issue queue. I'm still happy to hear your comments though, don't let the fact that the issue is closed stop you!

[2017-01-14 06:09] petertseng commented on #114
EBWODP:

1. I would also like to hear what you *decided*. To this end, I have edited the list in my initial comment to be:

* [exercism.io](https://github.com/exercism/exercism.io/issues/960) - first support for stub files
* [C](https://github.com/exercism/xc/issues/43) - stub first few exercises
* [Clojure](https://github.com/exercism/xclojure/issues/121) - all exercises
* [Go](https://github.com

[2017-01-14 06:15] petertseng commented on #114
In general, it seems stubs may be provided for at least two reasons:

1. If the submission file **needs to be placed in a certain directory** due to the language or build tool's project structure, having a stub file (empty or not) saves the student the busy-work of having to create the directory structure then create the file. Note that this busy-work has been described as [supremely annoying](htt

[2017-01-15 01:43] petertseng commented on #114
Crystal added: https://github.com/exercism/xcrystal/issues/63

[2017-01-15 01:58] petertseng commented on #114
Lisp's exercism/xlisp#20 has been added.

[2017-01-15 02:13] petertseng commented on #114
PureScript has been added: https://github.com/exercism/xpurescript/pull/8#discussion_r91789830

[2017-01-16 19:01] troubalex commented on #113
Speaking as a professional product person, I think this is a very wise decision, at least at this point in time.

The hard thing about this kind of product design is that we always need to have the big strategic goals in mind even when we try to work out one specific detail or we'll be in trouble at some point down the line. Not only does this require a clear vision that is understood by everyone

[2017-01-18 06:36] sebito91 commented on #32
A key component would be to add a "request help" button somewhere in the code review page. Given that users would have to submit at least one solution before they're able to review others' code, this could give someone the ability to request help directly instead of waiting for someone to troll through their updates and comment/help as necessary. This would accomplish a couple of things:

1. Make

[2017-01-18 06:39] sebito91 commented on #32
Funnily enough, this seems to be mentioned in another post: https://github.com/exercism/discussions/issues/47

[2017-01-18 16:52] jtigger opened #115 "Should maintainers merge significant PRs themselves?"
This is a question of social protocol in open source programming.  I'm very curious as to what folks think and more importantly the thought process behind it.

My question is:

In a repository where there are multiple active maintainers, under what conditions should a maintainer merge in their own PR?

[2017-01-18 17:36] petertseng commented on #115
There are at least two protocols I've seen:

1. Once you've received approval from another maintainer, you are expected to merge your own PR at any time convenient to you.
    * This could make sense in very large projects where the reviewer might not know as much about the safety of the PR as the author, I suppose?
    * It seems like the approval says something like "this at least looks sane, bu

[2017-01-19 20:40] masters3d opened #116 "Turn on CircleCI for Objective-C, Swift Tracks."
TravisCI is great but the macOS builds are extremely slow. There is always a backlog that can take hours to run the macOS builds. https://www.traviscistatus.com/ The linux builds are pretty fast.

I've noticed that other mac open source problems are using circleCI in addition to travis but I am not able to turn this on myself.

![image](https://cloud.githubusercontent.com/assets/6539412/22124212/a

[2017-01-21 18:09] jtigger commented on #115
I was reading over the [guide for maintainers](https://github.com/exercism/exercism.io/blob/master/docs/maintaining-a-track.md#collaborate) for another reason and came across this passage:

This sentence is under the "collaborate" header; meaning that this wasn't just a stylistic suggestion, but motivated by the idea that we're doing this as a group.  @kytrinyx, am I interpreting that accurately?

[2017-01-21 18:44] Insti commented on #115
Can we make a distinction between merging your own pull request, and merging your own pull request after it has been reviewed/approved by someone else?

[2017-01-22 16:22] Daniel-at-github commented on #65
Could the grouping be semi manual?

When I see a good solution that I want to use in my next iteration of the exercise a _fork_ or _merge_ (or _I will reuse this_) button will be handy to:
* recognize the merit of the author
* calculate the heatmap

[2017-01-22 19:30] jtigger commented on #115
I'd take it one further, @Insti... seems to me that the review/approval is the actual important bit.  Who clicks the "merge" button is insignificant in comparison.

[2017-01-22 19:37] kytrinyx commented on #32
@sebito91 I think the request help functionality is implemented:
<img width="370" alt="screen shot 2017-01-22 at 12 34 04 pm" src="https://cloud.githubusercontent.com/assets/276834/22185236/257fcf64-e09f-11e6-9c94-65737f436bbe.png">

There's no filter for it, but it does get called out in the list:

<img width="783" alt="screen shot 2017-01-22 at 12 36 57 pm" src="https://cloud.githubusercontent.c

[2017-01-22 22:01] kytrinyx commented on #115
Yeah, agreed. I think that each track could decide what the protocol is, and that the important bit is that it gets reviewed and/or approved.

[2017-01-22 22:03] kytrinyx commented on #65
@Daniel-at-github I hadn't thought of that.

The thing that makes me hesitate is that most of the similar solutions come from people who have never seen each other's code. For example, an exercise might have several thousand solutions, and there might be about ten or twelve different "typical approaches". Each one would usually have many hundreds of submissions that are somewhat similar.

[2017-01-23 01:55] jtigger commented on #115
As the guy who asked the question, I consider it answered.  Thanks for the discussion!  I made the pedantic edit in the referenced guide in exercism/exercism.io#3354.  Not sure if this question will ever be asked again, but I'll drop a "policy" tag on it just in case.

[2017-01-23 01:55] #115 closed

[2017-01-26 05:01] jtigger commented on #65
Well, "The Great Beer Run" poured out flat. :)  I got a little bit of a response, but not much.

I hypothesize that there was little movement because the submissions were a) at the end of the track; and b) most submissions were from 3 month prior.  The combination of those two likely meant that folks might have moved on.

The Java track is teeming with activity: half a dozen new exercises are comi

[2017-01-28 21:39] kytrinyx commented on #65
That's very exciting!

[2017-01-28 22:06] kytrinyx commented on #116
I don't have an OS X plan on Circle CI, since those are paid plans.

[2017-01-28 22:06] kytrinyx commented on #116
I'll contact them and see if they have any discounts for open source projects.

[2017-01-28 22:33] masters3d commented on #116
Ah okay. I thought it was free for Mac as well. Thanks.

[2017-01-29 06:49] kytrinyx commented on #114
FYI @exercism/track-maintainers interesting discussion/analysis here about stub files. If you have anything to add (including links to discussions in your respective tracks), please add it here.

[2017-01-29 07:43] masters3d commented on #114
Swift just moved to stub blank files for all excercises.
https://github.com/exercism/xswift/issues/245#issuecomment-274295656

[2017-01-29 12:54] robkeim commented on #114
@petertseng I updated your original comment with the related discussion in [C#](https://github.com/exercism/xcsharp/issues/138) and [F#](https://github.com/exercism/xfsharp/issues/229).

 FYI @ErikSchierboom who created these issues.

[2017-01-29 13:12] Insti commented on #114
Re-opened this because it's still under active discussion and it would nice if it was more discoverable. We can close it again once it gets old and we've all worked out what we're doing about our stubs.

[2017-01-29 14:44] ErikSchierboom commented on #114
The concensus of the C# and F# track was that we will be using stub files, where the earlier ones will already be providing the exact required functions, and later on you will have to add them yourselves.

[2017-01-29 15:51] verdammelt commented on #114
The Lisp track uses a stub file for all exercises as the boilerplate to set up the package is not something we are teaching.  I think this is important to do. It is analogous to the issues of specific directory structures in other languages.

Currently all our exercises contain functions with the correct signature but no body. I'm thinking now that dropping these off after the first set of exercis

[2017-01-30 19:17] kytrinyx commented on #36
THere's a great thread on twitter by James Kyle about this: https://twitter.com/thejameskyle/status/825783661622472704

He also wrote this a few weeks ago: https://medium.com/@thejameskyle/dear-javascript-7e14ffcae36c

[2017-01-30 19:54] kytrinyx commented on #36
Here's another great discussion. From Sarah Mei, this time: https://twitter.com/sarahmei/status/771078230266609664

[2017-01-31 19:39] kytrinyx commented on #116
I talked to Circle CI and they've granted us Mac builds under their open source plan. I _think_ I've configured things correctly, so that they build on mac now.

[2017-01-31 19:39] #116 closed

[2017-01-31 20:02] masters3d commented on #116
yay! Thanks!

[2017-02-02 08:00] ErikSchierboom commented on #110
I was looking into creating a Rikki analyzer for C# or F#, but unfortunately I found the documentation a bit, eh, lacking. If possible, I'd love to see a step-by-step instruction on what an analyzer should do and how to implement/add one.

[2017-02-02 23:22] kotp commented on #110
@ErikSchierboom That is actually a really good point, and probably should be a separate issue.

[2017-02-03 20:12] masters3d commented on #116
@kytrinyx it looks like no osx plans selected. Do you mind checking again?
![image](https://cloud.githubusercontent.com/assets/6539412/22606444/c6c0a4f8-ea08-11e6-92c2-e1df9deba199.png)

[2017-02-04 12:08] nilbus commented on #88
There's a nice middle-ground between forcing and what we do now (which is to say, “See related solutions and get involved here: [url]” ([source](https://github.com/exercism/cli/blob/1c67c7d307534e75ec75856fdeb9b492f2c20550/cmd/submit.go#L96))).

Instead, let's spoon-feed them the the actions that we'd like to motivate them to take, and sell the benefit. For example:

You could probably tweak the w

[2017-02-06 17:21] avisrivastava254084 commented on #56
So? Anything mentioned been implemented?

[2017-02-06 22:42] kotp commented on #56
Not that I am aware of.  And it is the "silence" that ends up being missed... we do need a little noise maker when things (like this one) get quiet.

I have been using Zenhub to mark things on my "Todo" list, which is helping to keep things visible and checked.  But having a :bell: that gets our attention in some way would be a good thing.

[2017-02-07 07:08] GustavoCaso commented on #88
This feels more natural.

Help avoid the concept of obligation and plant the idea of the importance of code review, as @nilbus  the wording can be changed all the day long but the core concepts is clear.

I really like it.

[2017-02-07 17:41] mhelmetag commented on #56
Having some super simple version of [bors](https://github.com/graydon/bors) would be interesting. Just a small worker that looks at open pull requests (for the exercism repos) daily and comments a little bell on them or poke message if nothing has happened in a few weeks. Seems like fun.

[2017-02-08 00:33] masters3d commented on #116
All working now :) 👍

[2017-02-09 16:10] jtigger commented on #81
FYI: just added this to the Kotlin track exercism/xkotlin#33.

I'd like to emphasize how, in the sum, I've regained uncounted _hours_ that I've channelled into more thoughtful discussions over API design rather than mind-numbing double-checking plumbing... problems I'd rather be solving. :)

[2017-02-09 16:29] jtigger commented on #73
Done.

[2017-02-10 23:40] stkent commented on #60
Quick question: is the `difficulty` value required to be integer, or can we use decimals e.g. `4.7`?

[For context, the Java track had several maintainers chime in with difficulty estimates, then took the average to compute an overall difficulty curve. This naturally led to some non-integer scores. Rounding is no problem if necessary, but it feels silly to throw away the "extra fidelity" if we don

[2017-02-11 01:40] petertseng commented on #60
Ah, well, I could give the pragmatic answer of "nothing on the website or API shows the difficulty value. Therefore, it can be whatever you want". The Rust track got lazy and we thus only use 1, 4, 7, and 10.

But I guess that's no substitute for the real answer, which will be depend on the eventual intended use.

[2017-02-11 01:58] stkent commented on #60
@petertseng ah, good to know!

From manual inspection of the tracks that have both switched structure and assigned non-trivial difficulties (i.e. not all `1`s throughout), integer-only appears to be preferred and would seem to be the safer bet at this time, so I'll go with that!

[2017-02-11 02:00] stkent commented on #60
Per other tracks that have made this change and assigned difficulties (e.g. https://github.com/exercism/xobjective-c/pull/125/files, https://github.com/exercism/xhaskell/pull/402/files) I'll be rounding our computed average difficulties to integer values!

[2017-02-12 07:04] kytrinyx commented on #73
Done as in can close, @jtigger ?

[2017-02-12 23:00] kytrinyx commented on #110
Opened an issue for this on the rikki repo.

[2017-02-12 23:14] kytrinyx commented on #88
I've added the "design-research" label as I think this is a really interesting and meaty discussion for us to explore as we think about the user experience on the site.

I appreciate all the thought and detail here.

I love this. I have found that a really powerful usage pattern is when people do exactly this: and thank people when they find something that they learn from.

[2017-02-13 07:19] ErikSchierboom commented on #110
Nice, thanks!

[2017-02-13 13:07] tleen commented on #88
We could always go down the reward incentivization route: add a review leaderboard somewhere, perhaps split into daily/weekly/..., this is also the type of thing you would see with badges, trophies, etc. The downside is that it could discourage quality over quantity, the latter easy to calculate the former not so much.

Along the lines of @nilbus comment, perhaps having the site actually select a

[2017-02-13 13:48] petertseng opened #117 "All tracks that have discussed whether to use a build system or not"
Hello. Sometimes when trying to run the tests of a certain language track, the command is very involved. Let's take a look at what Erlang's tests used to be:

        erl -make
        erl -noshell -eval "eunit:test(accumulate, [verbose])" -s init stop

Note in addition that `accumulate` is the exercise slug, so the command depends on the exercise too.
Okay, you could probably script that, but it'

[2017-02-14 02:55] petertseng commented on #117
Having some doubts on whether this topic is exploring **build systems** or **test frameworks**.

If it's the former, the following two discussions are not applicable:

* JavaScript: Jasmine vs Mocha/Chai? https://github.com/exercism/xjavascript/issues/315
* Ruby: RSpec vs MiniTest? https://github.com/exercism/xruby/pull/381

I think after some deliberation I will say... I did this survey in order

[2017-02-14 08:09] GustavoCaso commented on #88
So the idea is to facilitate the reviewer, the solutions to comment, is not like assignment but suggestions, but following the idea of gamification in my opinion I think it would help the user to comment more, maybe bring less quality because they want to see there badges grow or something.

I know for me the badges thing works 😄, but maybe for improving the quality the reviewed has to upvote or m

[2017-02-14 12:53] jtigger commented on #73
No.  I think I put that "done" on the wrong issue.

There are still a bunch of chunks to be pulled from the larger outline underneath the Q&A "guide."

Good time, though, to check in.  Are we still happy with this direction?

[2017-02-14 14:54] kytrinyx commented on #73
I think so!

[2017-02-14 14:55] tleen commented on #88
Unfortunately I think meta-reviews may discourage exercise reviewing: people may not want to be judged on the "quality" of their commentary. That is why it may be tough to un-game any sort of encouragement-by-quantity in exercise reviews.

[2017-02-14 15:19] kytrinyx commented on #117
My first reaction to this is that I would want to optimize each track for using tooling that is common/idiomatic for that programming language, rather than optimizing for consistency across the different Exercism tracks.

I think this is an excellent question. If we have a good discussion here about the philosophical aspects of it, and decide on a general approach or guidelines, I think we should

[2017-02-17 21:18] ErikSchierboom commented on #117
This is spot on. We should be aiming at using the most idiomatic solution throughout the track. From the tests, to the expected implementation to the build system. This has several obvious examples:

1. Easier to get started for people that are already familiar with the ecosystem
2. Easier for new people to find documentation on the ecosystem
3. Most likely good tooling support

[2017-02-17 23:18] petertseng commented on #117
I hope I won't be misunderstood (I'll edit my post to be clear)

No intent. **Within a single** track, though.

[2017-02-17 23:27] petertseng commented on #117
Another advantage I see, that has been made clear by the C# and F# efforts:

**Cross-platform compatibility**.

I had to craft special scripts to run the C# and F# tests on Linux, but build systems are meant to mask away those differences. After .NET Core, `dotnet test` is all that will be necessary.

I see that in the (quite spirited!) debate about whether to use CMake for C++, this was a driving

[2017-02-18 23:20] petertseng commented on #117
A disadvantage I see, or at least a point of discussion:

May prevent student from learning about the fundamental building blocks making up the test command they are running, what's going on beneath the covers. For example, maybe the student will only learn about how to use `make` and never learn about how to invoke `gcc` and its associated flags (and this knowledge would be important to be able t

[2017-02-19 02:06] rbasso commented on #117
I agree that it would be ideal if people could first learn how to build a simple program from scratch, and then increase building complexity until the student can grasp the more modern, and actually used, building systems.

That teaching paradigm worked well for a long time, but as tooling developed more functionality and we started depending more on them, things changed a lot in some language.

S

[2017-02-19 07:51] ErikSchierboom commented on #117
I can only agree with @rbasso. For many languages, the building blocks are actually quite complex to understand. For example, when starting out with C#, you wouldn't want to know anything of MSBuild. Same goes for Scala and SBT, albeit to a lesser extent.

Perhaps what we can do is include links to documentation if people want to know more about the fundamental building blocks?

[2017-02-19 08:21] petertseng commented on #117
This may depend on the different learning styles. Including links seems good as then each student could choose an individually preferred point to start to learn about the lower-level tools.

Actually, someone might argue that the job of Exercism is just to allow students to run the tests and it's not our job to teach about the fundamental building blocks, but I figure it can't hurt to go above and

[2017-02-19 18:56] kytrinyx opened #118 "Process for requesting new tracks"
I've been asking people to email me when they want to add a new track, and finally decided to formalize the process a bit.

I've created a repo https://github.com/exercism/request-new-language-track which contains the template for a new language track, as well as a script that will bootstrap a new track repository. Since the script creates a repository on the Exercism organization, only organizati

[2017-02-20 01:34] petertseng commented on #114
Editing into above post about rationale for stub files:

For statically-typed languages, typically the entire test suite must type-check before it can be run. Therefore, to make the test suite runnable, tracks of statically-typed languages tend to choose one of the following options:
    * nothing (as a consequence, students must figure out the signatures from reading the tests and write them all

[2017-02-20 12:03] petertseng commented on #106
Oh! I very much wanted the same thing: https://github.com/exercism/cli/issues/370 !

[2017-02-20 12:07] petertseng commented on #104
At this point, I think we've agreed that this is a good idea. And we break it into two parts:

1. Actually having a canonical data file for each exercise: https://github.com/exercism/x-common/issues/552
2. Ensuring propagation so that tracks know about the common data: https://github.com/exercism/x-common/issues/524

[2017-02-20 12:07] #104 closed

[2017-02-20 12:15] petertseng commented on #94
Yeah I like that. Part of what I realized I was looking for in #117 and looking for tracks' various discussions on the subject.

There are some interesting problems to solve when incorporating tests into the CLI, the most prominent being: **given a language track and an exercise directory, how does the `exercism` binary know how to run the test**?

* A hard-coded rule for each language that the CL

[2017-02-20 12:18] petertseng commented on #93
Y'all dealt with this in https://github.com/exercism/xruby/pull/502

[2017-02-20 12:18] #93 closed

[2017-02-20 12:20] petertseng commented on #4
The bad news: This request was duplicated https://github.com/exercism/exercism.io/issues/2449

The good news: And then it was implemented in https://github.com/exercism/exercism.io/pull/3327! All right!

[2017-02-20 12:20] #4 closed

[2017-02-20 12:41] petertseng commented on #38
If we decide to take the automation approach, then we should combine the discussion with https://github.com/exercism/discussions/issues/65. though the crowdsourced approach is also getting a mention in https://github.com/exercism/discussions/issues/65#issuecomment-274340803

Basically I think we should merge these two discussions. I'll arbitrarily pick the other one since it's been around for long

[2017-02-20 12:41] #38 closed

[2017-02-20 12:42] petertseng commented on #38
Ha! an obvious lie, obviously 38 has been around longer than 65. I guess I should say I pick 65 because it's gotten more discussion, then?

[2017-02-20 12:47] petertseng commented on #47
Given we have https://github.com/exercism/discussions/issues/54 and https://github.com/exercism/exercism.io/pull/2995 I would say we have addressed the need of:

There is an interesting possible additional issue, though it is a separate discussion altogether:

[2017-02-20 12:47] #47 closed

[2017-02-20 17:02] rpottsoh commented on #118
@kytrinyx, speaking from experience as a new track maintainer and having never maintained a track before I have to say yes to this point.  @kotp has been very helpful and instructive on how to go about maintaining a track and how to go about commenting on student submissions; and I'm still learning.

[2017-02-20 17:46] kytrinyx commented on #118
/cc @jtigger - I emailed you about this last week, here's the result (so far).

[2017-02-20 19:42] kotp commented on #118
I like the new repository for track requests... I think having the ability for current maintainers to assign themselves is a good thing.  And I am (as well as apparently others) are available on the gitter chat room for support and encouragement.

[2017-02-20 21:43] kytrinyx commented on #118
Yeah, I like having the requests out in the open. And if we go with the separate organization for curriculum (#103), a lot more people will have the rights to create repositories.

[2017-02-20 21:51] kytrinyx commented on #117
One of the things that we've been using rikki- for in the Go track is to introduce people to tooling as they do the exercises. It's not done perfectly, but I think that it helps to introduce things at the point where you have a reason to be curious about it. If someone says _Hey, your solution is formatted differently than usual; the Go community uses gofmt to remove inconsistent formatting_ now i

[2017-02-21 00:46] codeale commented on #32
Having a quick toggle to do side by side comparison between the solution and the user's own solution would be nice

[2017-02-21 08:36] kotp commented on #32
Any ideas on how to facilitate, or what it would look like?  Consider that the reviewer may have 10+ iterations, and they may be reviewing a submission with a single iteration... how would this work?  What would it look like?  This is interesting, and I think I like the idea.  Perhaps a new issue for this?

[2017-02-21 16:08] thomascullen commented on #32
Hey All :wave:, had no idea this issue existed! I'm happy to do some iterations on this if you have any feedback!

[2017-02-21 16:33] kytrinyx commented on #32
Hi @thomascullen ✨ It would be fantastic to have your input here.

I'm working with a small group of folks (@exercism/reboot) on deeper UX issues (right now we're asking lots of questions, it will likely be a while before we start thinking about flows/wireframes/visual things). So some of our insights might end up changing things at a fundamental level... meanwhile I think there's a ton of low-han

[2017-02-21 18:16] thomascullen commented on #32
Thats awesome, i'm really excited to see what comes of the reboot. I think going about it from the ground up is a fantastic idea as well. I suppose the most useful thing I could do at this point would be to bullet point the various thoughts and decisions I made while doing that redesign.

- The first thing that I tried to focus on was reducing the size of the headers. It currently takes up a lot o

[2017-02-21 18:36] kytrinyx commented on #32
Hearing your thought process is amazing @thomascullen, thank you so much for laying that out. And asking great questions.

[2017-02-21 20:14] thomascullen commented on #32
No worries! Glad to be able to help. I'l keep an eye out for any other UX/UI discussions as i'd love to do what I can to help out.

[2017-02-21 22:20] codeale commented on #32
@kotp @thomascullen Glad you like the idea
I'm no UI/UX designer but one way I can think of would be:
- Button on top that opens the comparison section, overlaying comments area
- A textbox that reviewer can drop in any code that they like
- A drop down that select and loads reviewer's codes into the textbox
![image](https://cloud.githubusercontent.com/assets/16283439/23187379/acb5cd60-f8de-11e6-8

[2017-02-22 07:33] ErikSchierboom commented on #32
@thomascullen @kytrinyx I adore the redesign you did. So clean and readable with the focus on the code. As for comparing to another exercise, I'm not sure how to do that best, but it should ideally be quite prominent as I think it can be very useful.

[2017-02-22 09:15] Polsonby commented on #88
We run a similar peer review system in our learning platform. I think one way to go might be to have a "helpful" button for each review, that anyone can press other than the author. Then the number of "helpful" reviews is what you score people on.

[2017-02-22 15:52] jtigger commented on #60
Do we yet have features in either the web app or the CLI that leverages "topics"?  I think I get the concept, but I'm not clear on the use cases we're targeting with this data.

- are we going to display these values on the submission page?
- will the CLI be able to filter the track to those that match the topics?  will it list the topics present in the track?
- will I be able to search across tra

[2017-02-22 15:53] kytrinyx commented on #88
@Polsonby Thanks! I think something like that could work, so long as it's not a number that we use to rank you against others (competitive) but rather some way to encourage you to compare to yourself. Or something.

I wonder if it would be different if we let people opt in to get feedback on their feedback.

[2017-02-22 16:12] jtigger commented on #60
By way of example of analysis of topics ...

@rcraggs digested the set of exercises on the Java track to determine what topics were surfaced in each exercise:

https://docs.google.com/spreadsheets/d/1-jHZex1oMRk2eJxCkHfWK1MXaIFkVWQt2hUhDUih198/pubhtml?gid=0&single=true

He shared this with Katrina in the GitHub Education forum:
https://education.github.community/t/fluency-vs-proficiency-when-teach

[2017-02-22 21:20] jtigger commented on #118
This is grand, @kytrinyx!

I swear I hadn't read this before I sent you that email this morning that said the same thing. :)

I think this is a critical piece for a couple of reasons.

1. maintaining an Exercism track skillfully means being collaborative: inclusive, encouraging, skeptical and open-minded.  Conveying this attitude is best done by example — mentors can do that.
2. communities risk l

[2017-02-22 22:28] brandondees commented on #91
FWIW I'll note that not getting external notifications is the main thing keeping me from being much more active with Exercism. I'd love to be able to get a digest email of team activity, and immediate emails corresponding to the existing site notifications. Optionally it might be nice to have a service worker and browser-based toast/popup notifications as well. That's all just for improving engage

[2017-02-22 22:31] brandondees commented on #87
maybe something like [https://github.com/unicodeveloper/awesome-tdd](https://github.com/unicodeveloper/awesome-tdd)?

[2017-02-22 22:56] brandondees commented on #68
Gut reaction, I think that having an icon on both ends of the line creates undue visual complexity and makes vertical scanning less ergonomic. I'd probably experiment with moving the language icon to be immediately adjacent to the user avatar (not sure right or left side, worth playing with both to get a feel for it).

Taking a second closer look, I realized that there is sometimes a 3rd party inv

[2017-02-23 13:06] jtigger commented on #117
I'm seeing common ground around the idea of "the idiomatic setup that requires the least understanding (both in installation and usage) to be successful."

Seems like if there are details about compilation/execution that can actually be ignored if properly handled by tooling (in JVM languages, such a detail is the classpath), likely we'll serve our practitioners better by encouraging them to insta

[2017-02-23 20:07] kytrinyx opened #119 "Out of Office - Feb 24-27"
I tore a ligament in my ankle, and will be getting a bit of surgical repair done tomorrow. I expect to be completely offline for a few days following the surgery, and possibly slow to respond for a few days after that.

At the moment I'm the only one deploying, so it may take a few days to see changes in the exercises make it up to the site.

[2017-02-23 20:36] kotp commented on #119
Sorry  :cry: to hear about damage done to your ankle.

Meh, we gotta fix that single point of deployment... but with that said, we definitely understand health before exercism!

Feel better soon, can't wait for you to be back on your :footprints: !

[2017-02-23 21:12] bernardoamc commented on #119
Ouch, sorry to hear that Katrina! 😢

Good luck on your surgery and I hope you can recover super fast! <3

[2017-02-24 01:39] kytrinyx commented on #91
@brandondees Thanks! Yeah we're going to be rethinking notifications from scratch as part of our design reboot #113

[2017-02-24 01:44] kytrinyx commented on #68
These are all great suggestions, @brandondees.

I also realized that since we added the "reply-to" we now typically get two notifications for each comment. One for the mention (from the reply-to) and one for the comment itself. That seems excessive.

[2017-02-24 01:48] brandondees commented on #68
@kytrinyx that probably _is_ excessive, haha. At least they get cleared properly when viewing the thread.

[2017-02-24 07:06] ErikSchierboom commented on #119
Good luck with the surgery and your recovery!

[2017-02-24 14:43] jtigger commented on #119
Best of luck and a fast recovery, Katrina! 💐

Joanna (my wife) tells me stories of how when she or one of her siblings were laid-up they were given a little bell to beckon their mother. 🛎   Strangely, that has yet to materialize in our house. :)

[2017-02-24 17:21] jmbradnan commented on #18
I am new to Exercism and not an experienced programmer.     I decided to give Exercism a try and first off, its awesome!     I have a suggestion for content and not sure if this is the right forum or it should go elsewhere.     I had no difficulty getting the CLI installed, I did get stuck with what to do once I had the test cs file - how did I use it in my project, what did I need in place to get

[2017-02-24 18:37] rpottsoh commented on #18
@jmbradnan welcome to Exercism.io!  The C# track has pretty good looking documentation, it is available [here](http://exercism.io/languages/csharp/about).  Also the C# track offers support via gitter [here](https://gitter.im/exercism/support).  I am not affiliated with that track, but the guys that maintain it know their stuff and are very helpful.

[2017-02-25 19:24] kytrinyx commented on #119
I'm back home (and fairly heavily medicated). They've asked that I don't make any decisions or do my taxes for the next few days. I'm pretty sure if they knew what open source was they'd warn me off that as well :-) I'll check back in on Tuesday.

[2017-02-25 19:24] kytrinyx commented on #119
(A bell! Now there's an idea...)

[2017-02-25 19:46] kytrinyx commented on #40
In addition to the various issues linked to above, I also found this one https://github.com/exercism/x-common/issues/129

[2017-02-25 20:01] kytrinyx opened #120 "Close the loop on exercise deprecation"
We have had a bunch of conversations about deprecating exercises across many different repositories and issues. I believe we've figured out how to deal with it, but it's undocumented and incomplete.

**Would someone volunteer to take responsibility for completing the current work on deprecation?**

The primary responsible party (PRP) doesn't necessarily have to do all the work, but would help figu

[2017-02-25 21:43] kotp commented on #119
Why we no have :spewing coffee out your nose: emoticon?

[2017-02-25 22:25] stkent commented on #120
Confirming that deprecation of strain is planned ([1](https://github.com/exercism/x-common/issues/588#issuecomment-279275431), [2](https://github.com/exercism/xjava/issues/297#issuecomment-282514117)).

[2017-02-26 16:12] nilbus commented on #88
@Polsonby Curious, what is your learning platform?

[2017-02-26 17:15] kytrinyx commented on #40
From @stkent:

[2017-02-26 23:25] Benco1 opened #121 "Add benchmark testing to Python and other tracks (?)"
A friend of mine who has completed the Go track pointed out that there are benchmarks in addition to unit tests for Go, but not for Python and some other languages. I am currently working through the Python track and thought it would be great if it also had benchmark testing.

I would be happy to help on this if it's something Exercism folks would like to move forward on.

[2017-02-27 06:36] petertseng commented on #121
I really wish I knew why the Go track decided to add the benchmarks. All I can see is that they were added in https://github.com/exercism/exercism.io/pull/1416 without explanation (that I can see), but that in https://github.com/exercism/xgo/commit/9fd6892099c7a00e5598728fee5a3c8e30c5662c an explanation was retrofitted: "it's idiomatic in Go to think about performance"

And what do other languages

[2017-02-27 09:19] NobbZ commented on #121
I do really think benchmarks are something useful, but for most languages they are complicated to run and do require some external dependencies or providing some self made bench-runner, while in `go` they are a first class citizen of the go-test-runner.

For erlang it were easy to simply measure the execution time of a single function call, I could as well do that in a "loop" about a 1000 times or

[2017-02-27 09:28] robphoenix commented on #121
Yeah I've experienced what @NobbZ describes and have spent time puzzling over the disparity between someone else's benchmark times and my own. Though it's interesting to compare one's own iterations, especially with significant changes to an algorithm.

[2017-02-27 15:54] jtigger commented on #65
# Squaring the Differences

(aka "The Great Beer Run, take 2")

In _this_ experiment, I targeted the very small and rather newish-to-Java-track `difference-of-squares` exercise.

1. I collected the solutions into three categories: functional, imperative, and computation.
1. I identified an example of each.  I favored the most approachable of each.
1. I removed my personal submission for the exerci

[2017-02-27 17:49] kytrinyx commented on #121
I think this is useful.

I actually think that benchmarks are useful in two ways:

1. Teach people how to use benchmarks
2. Compare different implementations against the same benchmark on the same machine

I think the discussions about different machines and architectures is probably useful for people to have—the fact that a benchmark depends on the machine it's running on as well as the data that

[2017-02-27 18:14] kytrinyx commented on #65
@jtigger this is exciting.

Also, we could make a rule for Rikki to follow to submit a comment that points people to that discussion when they submit iteration 1 of difference-of-squares.

[2017-03-02 00:10] #119 closed

[2017-03-02 04:36] petertseng commented on #114
SML added, Erlang added. Deleting this comment.

[2017-03-03 22:41] unmanbearpig commented on #78
Maybe it's good for teaching how `zip` might be useful?

[2017-03-04 08:08] petertseng commented on #78
Did exercise today. Used `zip`, so I confirm the above.

[2017-03-04 08:13] petertseng commented on #78
Of course, not everyone will use `zip`, but no matter how you achieve it, the idea of iterating through two iterables in lock-step, as you would with hamming or (in the case of more than two iterables) ocr-numbers.

[2017-03-05 18:42] kytrinyx commented on #118
How should we get mentors involved?

1. Ask people who are willing to mentor to watch the repository and then volunteer if they've got capacity?
1. Create an `@exercism/maintainer-mentors` (or something) team that can be mentioned?
1. ???

[2017-03-06 01:10] petertseng commented on #65
As a problem-solver curious about the various different ways to approach a problem, my Exercism experience would be improved significantly if something like that were done for more exercises.

Instead of repurposing a single individual's submission as a space for this discussion, I envision a space where everyone who has solved a problem can come together to discuss it... which is like https://git

[2017-03-06 15:49] thelastinuit opened #122 "Should we add docker images for individual language track repositories to make it easier to start contributing?"
Hey there guys,
A few days ago I asked @kytrinyx (twitter) if creating bundles (docker images with everything you need to start coding) would be a good idea?
If I manage (or someone else) to create those docker images, i.e.:
[code]

And you can run your test or something else and not worrying about installation and stuff.
Perhaps it's not a big deal but well I'm scientist, I gotta doubt everything

[2017-03-06 16:27] rbasso commented on #122
I guess that it depends on how hard it is to set a development environment in the language versus the trouble to keep updated docker images.

I cannot speak for other tracks but, at least for the Haskell track, I don't think it is worthy, because installing *Stack* is probably easier and we don't have to manually install other dependencies.

[2017-03-06 17:49] petertseng commented on #122
Oh interesting.

For the languages where I did not have permission to install on the development machine, I used Vagrant boxes to do it, but I didn't think there would be enough demand to share them.

For example here's mine for C++:

[code]

The maintenance problems are if the `config.vm.box` gets out of date (the upstream stops making updates and as a result the box does not function well for so

[2017-03-07 01:11] SarahDHealey commented on #120
@kytrinyx I am willing to take this on and to work through the steps outlined above. Please note: I do not have any prior experience in documentation.

[2017-03-07 15:47] kytrinyx commented on #120
@SarahDHealey Awesome! If you have questions or get stuck or just feel like you need to think out loud, do not hesitate to holler or post comments here as you go along.

This is the first time I've made a "detective work needed" issue, so I'd be excited to hear how it goes and what we could do better next time to make it easier for someone to tackle.

[2017-03-08 20:21] SarahDHealey commented on #120
@kytrinyx Thanks! I will take it on and start organizing. I'll keep you posted and holler out when I get stuck or run into issues.

[2017-03-08 20:51] ErikSchierboom commented on #122
Interesting, I added this as a todo to the C# and F# track a couple of weeks ago (see https://github.com/exercism/xcsharp/issues/202). For some languages, I do think it would make sense. Running Docker images becomes more and more accepted, and for the C# and F# track, I can simply base the Docker images on the official .NET Core Docker images released by Microsoft.

It might be that not every lan

[2017-03-08 21:45] mhelmetag commented on #122
I think this is a great idea. I see a few ways of doing this (two that I can think of):

1) We could create an exercism-cli base image (off of ubuntu or something) that would have the cli environment set up. Then each track could have an image based off that one with the individual language requirements.

2) Like @ErikSchierboom suggested, we could use the official language docker images and insta

[2017-03-08 21:54] rpottsoh commented on #122
How would this work for environments that require Windows?

[2017-03-08 23:30] mhelmetag commented on #122
I would think that it would work fine because docker can work on Windows with no problems. But users would be on Linux based containers... so it would be different for people used to running things in a Window environment.

[2017-03-09 04:20] nilbus opened #123 "Studying game design for increasing code review participation"
As @kytrinyx pointed out in #88, Exercism currently struggles to get adequate participation in peer code review. The suggestion to gamify Exercism in various ways (e.g. reputation like StackOverflow) has been raised many times, but @kytrinyx has rightly objected, fearing that review quality will decrease and that users' intrinsic love of discussing code and doing reviews will be damaged, citing Al

[2017-03-09 04:20] nilbus commented on #88
I haven't contributed on these discussions before now, so I'll introduce myself. :wave: I'm Edward. As part of completing my computer science Masters program at Georgia Tech, I decided to research and study the question posed here—how can we apply game design to Exercism to increase the amount and quality of participation in code review / conversations, without harming the intrinsic motivation peo

[2017-03-09 05:43] kytrinyx commented on #88
@nilbus this is very exciting! I will pull in the other reboot folks into #123 to discuss further there.

[2017-03-09 05:45] kytrinyx commented on #123
@nilbus this is phenomenal. I can't wait to dig into the details!

@exercism/reboot Please take some time to read through this—it's directly related to the questions we're digging into this week.

[2017-03-09 05:56] kytrinyx commented on #123
I will go through this in depth tomorrow, but I wanted to answer the following question:

Yes, absolutely. Everything on Exercism is an experiment, and if you would be willing to help decide the parameters for how to experiment on the live site to get the best data, I would be delighted to help make it so.

[2017-03-09 07:17] ErikSchierboom commented on #122
For Windows environments, there are only Docker images for Windows Server and Windows Nano Server. However, they require a license for you to run them I believe. So if there is a track that depends on Windows, I think we're out of luck. But, even Microsoft's own C# and F# can now run on .NET Core, which is fully cross-platform.

[2017-03-09 09:58] robphoenix commented on #88
A lot of what @nilbus mentions here is also true for parenting :smile:

[2017-03-09 11:32] rpottsoh commented on #122
》For Windows environments, there are only Docker images for Windows Server and Windows Nano Server. However, they require a license for you to run them I believe.

Thanks Erik, this is what I assumed and feared.

Sent from my android device.

[2017-03-09 15:29] tleen commented on #123
I would suggest that for some users there are consequences that are perhaps not serious, but do mean something:

- Reputation: poorly reviewing some work could affect reputation. Although Exercism is a kind and welcoming environment compared to other code reviews there may still be some sense of ego. Missing something obvious in a review or just not knowing what to review (users on tracks may be b

[2017-03-09 15:35] nilbus commented on #123
👍  I agree that reviews should remain voluntary, at least as far as what the system enforces (we we have no control of third party programs). They should be encouraged explicitly for the learning benefit, and not mandatory.

[2017-03-09 19:02] kytrinyx commented on #123
Thank you so much for going into such detail on the actual research into intrinsic/extrinsic motivation and rewards. I've long suspected that gamification _could_ work, I'm just so scared of messing with something that I don't understand, and which clearly can go badly wrong (destroy intrinsic motivation).

This reassures me that the principles are known, and the levers can be used effectively.

T

[2017-03-09 19:11] nilbus commented on #123
I wouldn't expect to do a survey with exercism.io users; only participants who knew they were participating in a study, like my classmates and coworkers that I might recruit from.

With your cooperation, I think performing the experiment with exercism.io users would be far more effective, and I could spend more time implementing actual features, and less on fork distribution. I'm really happy to h

[2017-03-09 19:17] nilbus commented on #123
Although I think restoring informational email notifications would be very helpful for improving participation, on second thought, I am wary of using this as a measurement of change in intrinsic motivation. After beginning to receive emails, people will certainly expect that notifications will continue in the future, and assume that no email equates to no activity.

…plus there's the whole issue w

[2017-03-09 22:02] nilbus commented on #123
Next steps:

1. I'll start work tonight on describing my proposed changed in more detail, so people can offer feedback, and we can agree on priority order.
2. I'll open pull requests to both **exercism/exercism.io** and **exercism/cli** to introduce feature-flag-like code to turn on and off features at set times and manually for testing or rollback.
3. Implement experimental improvements, and depl

[2017-03-10 01:34] nilbus commented on #123
@exercism/reboot For generating ideas that may work better in the context of the reboot, consider also reviewing Deterding's framework that I used as a guideline when generating my own ideas for exercism: _[The Lens of Intrinsic Skill Atoms: A Method for Gameful Design][1]_ [pdf], especially but not limited to section 4. I found his method useful, and the case studies illustrate how it has been us

[2017-03-10 01:58] nilbus commented on #91
@kytrinyx in https://github.com/exercism/exercism.io/issues/2487:

Do you remember roughly what the monthly volume was? There are [various services][1] that offer up to 100,000 or 150,000 messages per month (small firehose? 😉 ) for free. [ElasticEmail][2] offers the most but would benefit from porting a Ruby client. This could be a useful reference when it's time to choose an email provider.

[1]:

[2017-03-10 02:35] kytrinyx commented on #91
@nilbus I don't recall what the monthly volume was, but the cost was around $80/month. ElasticEmail looks very reasonable.

[2017-03-10 02:44] kytrinyx commented on #123
Oh, excellent. In that case I see no problem with this.

Excellent—that actually simplifies things. We can run it against a 50/50 split of everyone, and then the analysis can include whoever you want, as long as we capture the data you need to do the segmentation.

The CLI might actually pose a problem, since most people don't upgrade regularly. If we can do it by putting feature flags in the API

[2017-03-10 02:48] nilbus commented on #91
​Based on current sendgrid pricing, that could have been 150–200k
emails/month.

With more granular emails and digests, we might have lower volume. Exercism
has also grown in the last 1.5 years.

[2017-03-10 02:53] nilbus commented on #123
This is true. The only change I'd like to make in the CLI is to the call-to-action wording. Even if most users don't get that change, some may, and it will still contribute. The change can be released once and automated to activate/deactivate/reactivate on pre-determined dates.

[2017-03-10 03:58] nilbus commented on #123
Proposed improvements [updated above](#user-content-proposed-changes).

[2017-03-11 00:41] remcopeereboom opened #124 "Are Computer Science exercises a good fit the exercism platfom."
I am noticing that a lot of the exercisms that ask users to implement a data structure or classical algorithm are not a very good fit on exercism. We've had some discussion about this on the xruby repository (e.g. [#495](https://github.com/exercism/xruby/issues/513) [#513](https://github.com/exercism/xruby/issues/495)  on xruby) and I was wondering if other people have noticed the same thing in ot

[2017-03-11 02:19] rbasso commented on #124
If an exercise demands a specific algorithm/data structure, It goes against what I think is a more general rule:

*We should never direct a solution. That takes away all the fun of the discovery.*

Or, as already discussed in another terms, [Exercises should not be over-prescriptive](https://github.com/exercism/discussions/issues/44).

A useful algorithm/data structure probably can be used to solv

[2017-03-11 10:03] kotp commented on #118
As far as the template goes, for the request-new-language-track, it looks OK to me, but time will tell using it, what are the questions we end up asking over and over again... we will naturally know.  (Kind of like not paving the courtyard until a year after it is open, to learn the natural paths that occur).

[2017-03-11 17:24] kytrinyx commented on #118
Exactly. OK, cool :-) We'll leave it like that for now.

[2017-03-11 17:30] kytrinyx commented on #123
The suggested improvements all look excellent.

I will send out a Behind the Scenes newsletter today or tomorrow, and will talk about this experiment, and ask for people to help with input on this.

It would be helpful to have a specific issue open just for the "write copy" (perhaps with a short intro about the context of the problem, and then linking to this for more depth). That will let us link

[2017-03-11 17:32] kytrinyx commented on #123
This is a really good point. Emails are going to be an important feature, and the experiments we might want to do with them are probably more about _which_ emails, or multivariate tests on the content.

[2017-03-11 17:39] kytrinyx commented on #124
This is an excellent observation. I think that the solution is as rbasso stated it:

Let's deprecate the CS/algorithm exercises in favor of a more generally stated problem that _could_ use that algorithm.

[2017-03-11 18:01] iHiD commented on #123
I would rather we don't send emails at this stage. Emails have a degrading value (ie each email from a site gets a lower open and response rate) and I'd rather save this for a big push when we've finished the reboot.

[2017-03-11 18:02] kytrinyx commented on #123
@iHiD Yeah, sorry I was unclear. My comment was more to the effect that if we do experiments (when we do the reboot) those are the types of experiments we might end up doing.

[2017-03-11 18:02] iHiD commented on #123
@kytrinyx Ah. That makes total sense. Cool :)

[2017-03-11 19:38] nilbus commented on #123
@kytrinyx Will do, by end of day today.

[2017-03-12 02:56] nilbus opened #125 "Introduction to the benefits of reading and reviewing code"
As part of an effort to motivate peer review (#88) by introducing game design elements (#123), we would like to introduce our users to the benefits of reading and reviewing code, in the form of both asking questions and providing feedback.

Motivation
---

In terms of game design, this onboarding step should help motivate reviewers by helping them understand how their underlying motivation (learni

[2017-03-13 01:11] nilbus commented on #123
@kytrinyx if you hold just a day or two until we can do a release, we could also ask people in that newsletter to update their exercism client to participate in the study.

[2017-03-13 19:31] aklap commented on #69
I would also like to filter the solutions in the Activity Stream based on number of comments.

Some solutions have interesting discussions between people on style and optimization but they can be buried many pages back making it hard to find them. I'm not entirely sure how that would work or what the layout would be.

[2017-03-13 21:09] nilbus commented on #123
I'm realizing now that 1 week of baseline measurements would have been necessary if I were starting from a fresh group, but on the live site, we already have years of baseline that can be measured after-the-fact using data already in our database. Let's instead aim for 2 weeks of experiment, and 1 week of withdrawal, after which I'll start analyzing the effect.

[2017-03-14 07:46] StudentOfJS commented on #123
How about code review challenges as part of each track? This would be very appropriate for gaining real world skills, as developers are always faced with managing code bases that aren't their own. If you're rolling with a gamification upgrade (which could be really cool btw :-) ), then maybe you could offer bonus scores for code reviews. Or maybe, adding a real-time social chat platform and the op

[2017-03-14 08:00] StudentOfJS commented on #125
I think there is concern about offending others by offering advice when it is not wanted. A simple flag or opt-in for users wanting advice per submission would illuminate who wants help. It would remove potential reviewers concerns and simple list of "reviewable submissions" would make it obvious where to start reviewing. Taking it one step further, the entries on that list with the least reviews

[2017-03-14 08:56] NobbZ commented on #124
I think as well, that it is hard to test for a given implementation in most languages, therefore it is hard to "enforce" specific algorithms, therefore I'd say that asking for a specific algorithm should not be part or goal of exercism.

But I have to admit, that I also learned about new algorithms in exercism that were not covered by algorithms or FP lessons in my university. The most prominent i

[2017-03-14 09:48] kotp commented on #124
I like the "introduction to available algorithms" rather than the direct suggested requirement.

It gives options, that otherwise may not be known... so more room for learning, comparing, discovery.

[2017-03-14 12:55] nilbus commented on #123
@StudentOfJS It's common to think about gamification and assume points, but I'm trying to avoid any extrinsic rewards that would detract from the intrinsic reward of the code review. See under [Background Research][] the section **Extrinsic Rewards Permanently Diminish Intrinsic Motivation**. The good news is that there is enough intrinsic reward in the activity itself—improving your learning and

[2017-03-14 13:09] nilbus commented on #125
@StudentOfJS Good thoughts. There's a good discussion of unwanted advice in #55. I also remember another thread that suggests your idea of explicitly requesting review, and I agree that would be helpful in getting reviews where they are most wanted.

[2017-03-14 20:14] kytrinyx commented on #123
Yeah, that sounds good!

[2017-03-14 20:16] kytrinyx commented on #125
@StudentOfJS it sounds like you're brainstorming—would you do that in a separate (new) issue if there are no relevant ones that are open? This issue is specifically focused on writing copy to explain the benefits of code review.

[2017-03-14 20:26] kytrinyx commented on #69
@aklap Agreed—I'd love to be able to find both solutions without comments, and solutions where it's clear that discussion is happening.

[2017-03-15 09:36] ErikSchierboom commented on #124
I love @NobbZ's suggestion! It really allows for a lot of freedom on the part of the user.

[2017-03-16 12:23] jtigger commented on #124
This is an excellent observation, @remcopeereboom, thank you for thoroughly explaining it.

I really like @NobbZ's balance of both a wider field with guardrails for the less-experienced.  Yes, with links!

I suspect that the more we soften up some of the later exercises (while leaving a breadcrumb trail so that Early Programmers can continue to have footing) the more room there is for interesting

[2017-03-18 03:06] nilbus commented on #123
If anyone is interested in helping implement any of the [proposed improvements][], the foundation is in place with the [feature flag code][] now in master. We have just over 1 week before the experiment begins (Mon, Mar 27), and I'm confident that I won't be able to implement all these ideas in that period of time. The more we put in place, the stronger the results of the study are likely to be.

[2017-03-18 04:26] jtigger commented on #65
I would love to find ways to make such comparisons framed with trade-off thinking.  Not at all interestes in the "best" solution, rather the trade-offs of a given set of design choices.

What if Exercism was also a living, evolving "encyclopedia" of the craft of code?  In the same way that scientists come together to displace yesterday's theories with different ways of thinking?

[2017-03-18 16:57] kytrinyx opened #126 "FYI: We are moving and rearranging all the project-wide documentation"
Per @IanWhitney's observation in https://github.com/exercism/exercism.io/issues/3412 the documentation has been scattered and there's a lot of duplication.

The logical choice seemed to be to create a central documentation repository, and organize the documentation there.

The repository is [exercism/docs](https://github.com/exercism/docs), and the tracking issue for this project is https://github

[2017-03-19 08:54] ErikSchierboom opened #127 "Choosing a software stack for the Exercism reboot"
In #113, plans are discussed for a reboot of Exercism. This will probably involve rewriting the front-end application. With a rewrite always comes one extremely important question: which stack to choose? Unfortunately, for client-side applications, the number of potential frameworks can be, well, staggering. There is Angular (1 and 2), React, Aurelia, Knockout, Ember, Vue, and much more. Recently,

[2017-03-19 15:33] kytrinyx commented on #127
I think these are exactly the right concerns to consider.

[2017-03-19 15:39] kytrinyx commented on #120
@SarahDHealey just checking in to see how you're doing on this. Any initial thoughts about what you've found so far?

[2017-03-19 16:14] kotp commented on #127
The Client Side and Server Side decision has apparently already been made?

[2017-03-19 16:25] ErikSchierboom commented on #127
@kotp Well, not really I guess. Perhaps I should have made myself more clear and noted that I think using the specified client-side frameworks would be a good choice. It doesn't exclude server-side rendering, but it does imply more focus on client-side code. Perhaps we should be having the client-side vs server-side discussion at this point?

As a side note, almost all the criteria also hold for s

[2017-03-19 16:53] kotp commented on #127
I just thought that the server side stuff would be decided first, what is going to be used to do the rewrite?  Is it PHP, or Rails, Revel, or Phoenix or something else?

[2017-03-19 17:24] kytrinyx commented on #127
I don't think the server side language plays into the decision for the client side language, and I'd rather not discuss the backend language in this issue in order to keep this discussion on track.

[2017-03-20 20:31] jtigger commented on #127
FWIW:

ThoughtWorks maintains a [technology radar](https://www.thoughtworks.com/radar/languages-and-frameworks):
- https://www.thoughtworks.com/radar/languages-and-frameworks/react-js
- https://www.thoughtworks.com/radar/languages-and-frameworks/ember-js
- https://www.thoughtworks.com/radar/languages-and-frameworks/redux

[2017-03-21 02:22] jtigger commented on #127
I've personally used Angular 1.  I can safely recommend we do NOT use. :)

[2017-03-23 14:03] IBwWG commented on #123
I'm new to exercism but would love to help test either way.  I also wanted to share a link for those interested, where Alfie Kohn addresses gamification a bit more directly: https://youtu.be/p_98XcxJqkw?t=16m

I'm quite interested in the results of your experiment.  I'm glad you're doing a survey, as I think that's the only place any truth will be found about intrinsic motivation.  Participation i

[2017-03-23 15:08] kytrinyx commented on #123
All of the research that I've read about the attenuation of intrinsic motivation bases its results on numbers, not on survey responses. The observed behavior is that where rewards reduce intrinsic motivation, if you take the rewards away, then they stop performing the target action, even if they performed the action with no rewards previously.

I think the survey will be interesting, but the numbe

[2017-03-23 15:31] IBwWG commented on #123
Ack!  You're totally right, sorry to stick my foot in my mouth here (I'll have to wash it out with coffee, two birds with one stone).  Taking the rewards away and measuring the result makes sense.  Somehow I had understood that earlier, and then forgotten when trying to reevaluate everything.

Fair enough. I was finding it in "put forth a method of gameful design, a.k.a. gamification, that aims to

[2017-03-23 16:15] kytrinyx commented on #123
LOL. Coffee has so many amazing uses :)

Yeah, I hear you. I'm falling back on the "it's an experiment, nothing is final" argument.

I think it is worth evaluating and re-evaluating everything, but probably not for this particular two-week period (though to be fair, we might not get it implemented in time, in which case this is all moot).

I :heart: that you care, and really appreciate you taking

[2017-03-23 16:58] behrtam commented on #121
I like the idea and you are very welcome in the python track!

[2017-03-24 00:54] nilbus commented on #123
@kytrinyx, you nailed it. If we can *not* replicate the decrease in interest that so many studies have replicated, then we can be reasonably confident that our "gamification" doing no harm.

As for the term gamification: I think Deterding and others would argue that gamification is largely misunderstood and done poorly. That said, given the common association with points, badges, and other similar

[2017-03-24 01:07] nilbus commented on #123
@IBwWG If you're interested in helping test, I can mention you on pull requests as I build features. This would require you to set [up a local development environment][1] if you haven't already. I had a relatively easy time with Docker.

[1]: https://github.com/exercism/exercism.io/blob/master/docs/setting-up-local-development.md

[2017-03-24 07:21] IBwWG commented on #123
@nilbus I would be up for this, but should I try the site as a regular user first, to calibrate my general expectations?

[2017-03-24 10:53] nilbus commented on #123
@IBwWG That would be great. Without that, it would be hard for you to gauge your whether or not the changes have a corrosive effect on your intrinsic motivation.

Subjective feedback on changes to participants' own intrinsic motivation, although fraught with bias, could still be interesting to collect from you and others who participate during the study period.

[2017-03-24 10:57] nilbus commented on #123
One might also argue that if you have to ask if you should participate on exercism, you may already not be intrinsically motivated to participate in this activity. In that case, you may not be the target audience we're trying to study. I'll let you evaluate that and make your own call. :-)

[2017-03-24 11:16] IBwWG commented on #123
Thanks :)  I am pretty interested in the site and would participate in general anyway, but as always lately, it's difficult to prioritize where to give my energy (I have a family and I'm seeking employment).  I.e. I do love to learn new tech, and if I won the lottery I would spend a chunk of my time doing that just for fun, as I always have, but right now I need to jaundice my eye with practicalit

[2017-03-24 18:55] SarahDHealey commented on #120
Here is the spreadsheet that I put together with the conversations, will need to keep going to document all of them: https://docs.google.com/spreadsheets/d/1StkN65SJckvfPZU-tw-N0YjjiEamuV-zkCwEZBEH08w/edit?usp=sharing

[2017-03-24 19:16] SarahDHealey commented on #120
I've got another summary going here: https://docs.google.com/document/d/10kUdbPCT7zBJ1QydHFQouIZa-DH7zHuBH3n7iCgEojo/edit?usp=sharing
So far, it has still been just notes and wrapping my head around it. I'll be working more on the documentation today and through the weekend. My thoughts are to document 1. the steps for the name change. 2. the steps for how hamming was deprecated and 3. If all-your

[2017-03-24 22:40] kytrinyx commented on #120
@SarahDHealey This is so good!

One thing to note is that `all-your-base` is the replacement that deprecates the four similar exercises: `binary`, `trinary`, `octal`, and `hexadecimal`. So `all-your-base` isn't deprecated.

[2017-03-26 14:06] nilbus commented on #123
Added this item that wasn't explicitly on the list but should have been.

### 8. Call to Action ✔️

Implemented in:
- exercism/exercism.io#3414
- exercism/cli#377

**Usefulness**: High | **Complexity**: Medium

**Summary**: After submitting an exercise in the CLI, give a call to action to review other submissions. Talk briefly about the benefits, and suggest a goal.

**Goal**: Provide the next bes

[2017-03-26 15:30] nilbus commented on #88
A little update… 3 of 7 proposed ideas are implemented so far. I may get one or two more done today before starting the experiment on Monday.

I like @tleen's suggestion:

Right now the [call to action][] just suggests to choose 3. With the CTA code being in the exercism.io repository however, it's totally feasible to suggest and link to some specifics. I imagine something like selecting the first

[2017-03-27 06:17] ErikSchierboom commented on #127
Over the last couple of years, I've worked with several frameworks. Here's my take.

Scale:

1. excellent
1. good
1. fair
1. poor

## Angular 1:
I have nothing to add to @jtigger's comments. We really shouldn't be using Angular 1, as it is old and not being updated.

## Angular 2/4:
- **Ease of use**: (fair) it's a lot better than Angular 1, but there's still some learning curve getting to know th

[2017-03-27 14:16] kytrinyx commented on #126
Alright, it looks like this has served its purpose. You either saw it via a notification, or you'll find out later :-) I'm closing this.

[2017-03-27 14:16] #126 closed

[2017-03-27 15:30] nilbus commented on #123
Experimental features are live for 50% of users. If you don't see anything, you're probably in the control group. 😄  If you'd like to opt out of the experiment and see the new stuff, let me know.

[2017-03-27 16:34] kytrinyx opened #128 "Shall we have a policy about stale issues?"
**TODO**

- [x] draft issue (see below in https://github.com/exercism/discussions/issues/128#issuecomment-290933079)
- [x] post to issues to all repos using hub
- [x] (on April 10th) install https://github.com/integration/probot-stale

------
**original issue**

The exercism/exercism.io has a lot of very old issues.

A colleague of mine recently built a GitHub integration that will automatically c

[2017-03-27 17:48] kytrinyx commented on #128
Oh, one more thing. We could totally start by marking "stale" as 1 year, then reduce to 6 months, then reduce to 3 months, and then finally (if we think it's useful/necessary), reduce to 1 month. We don't have to jump straight to the most extreme.

[2017-03-27 18:31] kotp commented on #128
I had also started using Zenhub Board to start going through them as well, placing some in icebox some in backlog.

[2017-03-27 19:16] kytrinyx commented on #128
One of the things that appeals to me about closing (rather than putting it in a backlog) is that it gives us a sanity check about how important it is: if nobody brings it up again, maybe it's not important.

I have a tendency to save ALL the ideas out of fear of losing anything.

[2017-03-27 19:57] kotp commented on #128
That and the backlog is not viewable by those that aren't using zenhub.

[2017-03-28 10:27] ErikSchierboom commented on #128
@kytrinyx Closing issues that are stale seems like an excellent idea, for all the reasons you already mentioned.

[2017-03-28 13:05] treiff commented on #128
I like this idea.  Sometimes I find it overwhelming combing through all the open issues looking to help out. When looking through the older issues, It's tough to know what is really _"important"_ or perhaps not valid anymore.

[2017-03-28 14:44] codingthat commented on #123
@nilbus You might as well add me in--given that I'm on this thread (I'm IBwWG, just merged accounts) I'm not really a great data point anyway :)

[2017-03-28 15:18] jtigger commented on #128
This discussion reminds me of the notion of "inventory" in Lean thinking.  Our contributors'/maintainers' time is a limited treasure.  People like @treiff burning time as he described is pure waste (i.e. we get nothing for the effort).

It's doubly positive when we consider how much more inviting it is to engage with a _lean_ project (where nearly all issues have import) than those that have appar

[2017-03-28 15:27] jtigger commented on #120
Wow, this is a really thorough treatment of the topic, @SarahDHealey !  Thanks for taking the time to amass all this!

I have a general question: do we every truly want to allow an exercise's identity to be mutable?  This comes-up prominently in the "Change Name" scenario.  What would happen if we consider an exercise, despite its near identical content to another exercise merely as a new one?  Ol

[2017-03-28 16:02] kytrinyx commented on #120
content to another exercise merely as a new one? Old submissions stay with
the old exercise; new stay with the new.

That would be much cleaner. We could give people access to both if they do
either of them (some sort of cron job. Maybe not indefinitely).

Or have @rikki- post a comment about the deprecation on all the submitted
old ones saying "hey, rewoork this and submit to..."

[2017-03-29 01:04] nilbus commented on #123
@codingthat Done!

[2017-03-29 19:48] kytrinyx commented on #128
This is an excellent point.

OK, based on the discussion so far, I am convinced that this will be a good thing.

How do you all feel about starting with 6 months as the "stale" threshold?

[2017-03-29 19:55] codingthat commented on #123
Thanks @nilbus, I like the new way better, for sure!

[2017-03-30 06:08] ErikSchierboom commented on #128
Sounds reasonable.

[2017-03-30 07:54] kytrinyx opened #129 "CLI feature set"
I have been pondering rethinking the feature set for the client(s) for a while. The current feature set grew organically, and has some rough edges and surprising corners.

I think it would be interesting to take a step back and think through what the feature set _should_ be, given what we now know about the app.

We have a number of open issues that are about tweaking the feature set:

- https://g

[2017-03-30 09:04] codingthat commented on #62
Me too.  Am I missing something, or is there currently no way to view the readme of the exercise you're currently working on until after you've submitted it?  (I.e. aside from looking at the markdown locally.)  It seems that fetching the next one doesn't cause it to appear at http://exercism.io/tracks/clojure/exercises or http://exercism.io/tracks/clojure/my_solutions or anywhere else that I can s

[2017-03-30 14:26] kytrinyx commented on #62
You have access to all the readmes/test suites at all times. E.g. http://exercism.io/exercises/fsharp/pascals-triangle/readme

Fetching an exercise doesn't put it in any of your lists though. You'd have to navigate to it via http://exercism.io/languages > http://exercism.io/languages/clojure > http://exercism.io/languages/clojure/exercises

[2017-03-30 18:18] kytrinyx commented on #128
The next step on this is to draft an issue that can be submitted to every single Exercism repository that describes:

- the reasoning behind installing probot/stale
- describe the `.github/stale.yml` file where maintainers can override defaults https://github.com/probot/stale#usage
- give a deadline (1 week? 2 weeks) to get the `github/stale.yml` into their repository (any repository without a `gi

[2017-03-30 20:46] kotp opened #130 "Submissions with multiple files are displayed always alphabetically."
@rbasso commented on [Mon Nov 28 2016](https://github.com/exercism/exercism.io/issues/3277)

I'm not sure if this was intentional or an *accidental feature*, but solutions submitted with multiple files are always displayed with the files ordered alphabetically, despite the order supplied to the command line client.

Step to reproduce:

[code]

This behavior is undesirable, because it doesn't allow

[2017-03-31 09:03] ErikSchierboom commented on #129
So basically a wishlist of which features we would like the CLI/GUI to have? Would you like us to respond in this issue, or in the mentioned issues?

[2017-03-31 10:58] ErikSchierboom commented on #127
Just came across this [nice article](https://medium.com/@ZombieCodeKill/choosing-a-javascript-framework-535745d0ab90) on choosing a JavaScript framework.

[2017-03-31 13:55] codingthat commented on #62
Somehow I totally missed that.  Thanks!

[2017-03-31 18:57] kytrinyx commented on #129
Yepp. And what it look like to be the best possible (most consistent, least surprising) user experience.

Let's discuss it here.

[2017-03-31 18:59] kytrinyx commented on #62
Nothing is discoverable on Exercism at the moment, unfortunately. We're working on fixing this (see https://github.com/exercism/discussions/issues/113 for details).

[2017-04-01 03:52] DesHorsley commented on #32
Loving the new changes!

Something I've been thinking about is that it would be nice if the unit test results were displayed along with the solutions.

Sometimes when reviewing others work it can be hard to tell if the solution actually works, especially if you are new to the language and don't know all the syntax being used.

[2017-04-01 05:33] kytrinyx commented on #32
@DesHorsley this has come up a few times, and we've not yet found an acceptable way to implement this.

I'm going to post some of the links from prior discussions here:

- https://github.com/exercism/exercism.io/issues/23
- https://github.com/exercism/discussions/issues/32
- https://github.com/exercism/exercism.io/issues/1710
- https://github.com/exercism/exercism.io/issues/1757
- https://github.c

[2017-04-01 17:04] kytrinyx commented on #128
Here's my

[code]

I didn't put the arguments for doing this directly in the issue draft, but rather link back to the original discussion.

[2017-04-01 17:15] kytrinyx commented on #128
To get the list of repo names in the org:

[code]

Then we can loop through the repos in repos.txt and submit issues using hub.

[2017-04-04 00:29] petertseng commented on #114
A vision of the future...

What if I, as a student, could express a preference (possibly per-track) for what kind of stub file the API delivers:

* Always with signatures
* Always without signatures (and/or always empty, though these two might not always be the same)
* The track maintainers' recommendation (may differ based on exercise)

Catering to the preferences and needs of different audiences

[2017-04-04 02:05] IanWhitney commented on #114
That would be cool. If someone (not it!) wants to do the work, I would support it.

[2017-04-04 04:35] #114 closed

[2017-04-04 15:58] kytrinyx opened #131 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 16:54] zachgersh commented on #127
@ErikSchierboom,

I had been talking to @jtigger a bit here in the office (since we work together) and felt like the selection criteria had one hole in it:

- testability

I know I have recently waded back into the world of frontend frameworks and have been slightly saddened that most frameworks devs talk about how many problems their framework solves but never mention (or even show examples) of h

[2017-04-05 17:10] kytrinyx commented on #131
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-05 17:52] ErikSchierboom commented on #127
@zachgersh Great point! Totally forgot about that. I've updated my initial post and my response.

[2017-04-05 17:57] zachgersh commented on #127
@ErikSchierboom - thank you for adding it? Could you add more more thing to the criteria for testability.

`are there examples on the web of how to structure / write the tests`

This one will be huge for when people don't have an example of what the tests are supposed to look like or have to troubleshoot an issue with a test.

[2017-04-05 18:06] kytrinyx opened #132 "Is anyone coming to OSCON in Austin, TX (USA) on May 10-11?"
I'm applying to be a part of the Open Source Alley at OSCON.

Are there any maintainers / active contributors who will be in Austin on May 10th-11th who would be interested in helping out at an Exercism stand for 4 hours one of those days?

If we get selected, I need **one person** in addition to myself to help staff the booth/stand. An expo pass would be provided, if you don't have one.

I'm alre

[2017-04-05 18:09] ErikSchierboom commented on #127
@zachgersh Done!

[2017-04-05 20:16] ryanplusplus commented on #132
Damn, I'd love to help out, but this is the first year in a while that I will not be going.

[2017-04-06 15:16] behrtam opened #133 "Validate the test data version as part of a travis build"
Thanks to the work of @rbasso (see https://github.com/exercism/x-common/pull/602, https://github.com/exercism/x-common/issues/625, https://github.com/exercism/x-common/issues/673, etc) and many more, we now not only have a schema but also a test data version.

In https://github.com/exercism/x-common/issues/524 @robkeim started to think about how to propagate changes from `x-common` to the tracks.

[2017-04-08 06:31] kotp opened #134 "Block a user from seeing my submissions"
@jtigger commented on [Fri Oct 14 2016](https://github.com/exercism/exercism.io/issues/3180)

I've had less-than-stellar interactions with a given user (call him/her "User X").
I want to be able to block User X from seeing my submissions (and thus cannot comment on them) so that we both can continue to enjoy exercism... separately.

Given I've added User X to my "blocked users" list,
- when User X

[2017-04-08 06:33] kotp commented on #134
Leaving it up to @jtigger to edit it to bullet the points. :)  You are welcome! :laughing:

[2017-04-10 06:31] ErikSchierboom commented on #129
Okay. Let me kick-off things then.

## CLI

In general, I'd like the CLI to help me with:

- Fetching an exercise
- Submitting an exercise
- Showing progress

### Fetching an exercise

- Fetch the next exercise for a specific language track
- Fetch all exercises for a specific language track
- Re-fetch an already fetched exercise for a specific language track
- Re-fetch all fetched exercises for a

[2017-04-10 15:29] kytrinyx opened #135 "Shall we delete the exercism/todo repo?"
For a long time we had a ton of not-actionable issues, and a workaround was to create the https://github.com/exercism/todo repo, which would let people find things to work on.

Now that we have mostly actionable issues (especially in the language tracks), and we're implementing probot/stale, I'd like to suggest that we delete the exercism/todo repository.

Thoughts? Am I forgetting something?

[2017-04-10 15:43] kytrinyx commented on #133
I like this idea a lot. I'd love to hear if any other tracks try it out and what you think.

[2017-04-11 04:11] kytrinyx commented on #131
I don't think we should mark discussions as stale. This is the repository where we can muse out loud. A year or so from now we might change our minds about this, but for now I'm going to go ahead and close this.

[2017-04-11 04:11] #131 closed

[2017-04-11 04:13] kytrinyx commented on #128
OK, I've done this. Since turning it on doesn't affect repositories that have not added a `.github/stale.yml` file, I think we're fine to close this, and each repository can decide whether or not to add the file.

[2017-04-11 04:13] #128 closed

[2017-04-12 08:46] petertseng commented on #135
Looked over the current open issues for any that aren't already represented by issues in other repos. Only one that looked like it might fit that bill is https://github.com/exercism/todo/issues/174.

Are there any useful discussions and historical context that we would lose if we deleted the repo? Any interesting issues that are linked-to by a lot of other issues (useful hub points to branch off a

[2017-04-12 15:43] Tonkpils commented on #129
This is a list of current, relevant, commands for the exercism CLI:

[code]

From the CLI standpoint, the features you've requested are there we just need to polish them and their outputs. Also, it would help a lot to have the command names match what they do. We could also take this time to work on a v2 of the CLI so it's a bit easier to iterate over.

[2017-04-14 16:20] jtigger commented on #127
For completeness' sake, I included it in the Angular 1 assessment.

[2017-04-14 16:21] jtigger commented on #127
@zachgersh do you have enough experience with vue.js to include an assessment?

[2017-04-16 09:47] Insti commented on #124
I think we have a policy conclusion thanks to @remcopeereboom and @NobbZ:

[2017-04-17 12:01] kytrinyx commented on #135
Yeah, that was my impression as well.

I actually think that this has been mostly done. There's a bug in the exercism.io repo, but it's tracked.

I think that even with 404s, the discussions and historical context is fine without it.

I'm going to delete it.

[2017-04-17 12:01] #135 closed

[2017-04-17 13:33] kytrinyx commented on #129
Yes, me too. I think that we should consider what it would mean for someone to do all discovery via the CLI rather than through the website (we should make both possible, of course).

@ErikSchierboom Do you mean the website, or the GUI which is the equivalent of the CLI (on the user's local machine)?

I would love that, and would be happy to implement a v3 of the API (all in http://exercism.io/api

[2017-04-17 14:11] kytrinyx commented on #129
Some thoughts about fetching exercises, based on the above thoughts, as well as comments from @petertseng in https://github.com/exercism/cli/issues/369

If we can infer what the person wants to fetch based on the current directory, then we should do so.

If we can't then we should provide an error message and suggest how to fix it (either by changing directory, or specifying flags).

If we make it

[2017-04-18 00:00] kytrinyx opened #136 "Track-specific content in exercise READMEs is easy to miss"
@DouglasBrunner commented in https://github.com/exercism/xjavascript/issues/33#issuecomment-54010058:

Since the Haskell track doesn't use skipped/pending and the entire top section was the same, it was easy to scan the beginning and decide that there was nothing new here.

I suggested that maybe we could move the track-specific stuff higher up, but @DouglasBrunner observed (quite rightly) that th

[2017-04-18 00:02] kytrinyx commented on #129
Another flag to consider is `--interactive` which would be like `--force` but it would interactively ask the user before overwriting a file.

[2017-04-18 00:08] kytrinyx commented on #129
Thinking more about this, I'd really like to consider the implication of versioning the exercises in such a way that only the app and the client know the version, but that it doesn't affect the actual test and solution files.

We could store which version of a test suite someone has last submitted on the backend, which would let us tell the user about updated test suites either in the app or via t

[2017-04-18 09:32] behrtam opened #137 "Feedback (python track survey)"
I conducted a small survey in the Python track for the last ~7 days. One of the questions was about possible feedback. I thought I share this part with all of you.

`Do you have any feedback? What could be improved? What do you like about exercism?`

You can find the other questions here: [Micro Survey 1/2017](https://gist.github.com/behrtam/9b1aaae227b5e67dd145ecd5f74e58eb)